﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/Banner/tangan.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">ABOUT</span> US</h1>
            </div>
        </div>
    </div>
</section>

<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            <br />
            <p>
                The <span class="thm-color"> Malaysian Humanitarian Foundation (“MHF”)</span> is a registered non-profit organization that was formed in 1996. Its tax exemption reference number is LHDN.01/35/42/51/179-6.4471
            </p>
            <br />
            <p>
                Its activities then was as a clearing house and provided Community Direct Support Services to existing community homes, namely in the areas of the disabled, elderly, hospice and orphans.
            </p>
            <br />
            <p>
                MHF had administrators, volunteer managers, fundraisers, doctors, nurses and therapists in-house and an ambulance service to serve beneficiaries until 2002.
            </p>
            <br />
            <p>
                MHF decided to hibernate and to wait for an appropriate time to restart MHF. MHF wanted to ensure that it has a steady stream of funds so that it can operate and execute its missions professionally and sustainably.
            </p>
            <br />
            <p>
                During this period, MHF entered into affiliation with United Way Worldwide.
            </p>
            <br />
            <p>
                MHF determines that now is the appropriate time to restart the operations and to move forward. MHF intents to focus on fundraising for the community via various means namely, spare change giving, payroll deductions, matched giving, broad community project adoption, volunteer training adoption, wills and bequests, specific community home project adoption, disaster relief mobilization team, in kind donations, train the trainer program adoption, fundraising tender adoption, community projects, etc.
            </p>
            <br />
        </div>
    </div>
</section>


<br />
<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            <div class="section-title center">
                <h1> <span class="thm-color">WHY </span>MHF</h1>
            </div>
            <div>
                <br />
                <p>
                    After research was made, MHF have identified that there is a community coordination enhancement role possibility that we are able to play and contribute towards. MHF found that one of the biggest challenges for NGOs are in the areas of consistent funding support while trying to provide professional care for those that are lesser fortunate.
                </p>
                <br />
                <p>
                    MHf decided to position itself as the community clearing house and wanting to focus on the concept and the implementation of the community chest. This is based on the understanding that the government will support MHf over time. This is also after MHF is able to garner the necessary relationships with the NGos as well as to understand the true needs and requirements of the NGOs and the Government.
                </p>
                <br />
                <p>
                    The community chest initiative that we call Humanitarian Fund allows individuals and corporates to Donate NGos individuals that are in need of funds. The funds donated will be tracked regularly while we will be able to provide some form of key performance indicators for the donors (KPIs).
                </p>
                <br />
                <p>
                    The humanitarian fund is another opportunity/platform for donors to select as some donors may wish to know how their funds are utilized and that the impacts of some sorts are established and managed by a professional party that understands the needs and requirements of both the donor and the recipient.
                </p>
                <br />
            </div>
        </div>
    </div>
</section>

<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <img src="~/Template/Humanity/images/logo/MHFLogo1.png" height="200" width="200" />
            </div>
        </div>
    </div>
</section>
