﻿@page
@model MHF.Website.Pages.AboutUWIModel
@{
    ViewData["Title"] = "AboutUWI";
}
<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            <div class="section-title center">
                <h1> <span class="thm-color">About </span>UWI</h1>
            </div>
            <br />
            <h3>
                UWI-Community Chest affiliation
            </h3>
            <br />
            <h3>
                A brief write up on Uwi its affiliation with MHf
            </h3>
            <br />
            <div>
                <br />
                <p>
                    United Way International (UWI) is a U.S incorporated, not-for-profit organization. Its worldwide purpose is to mobilize local leaders and non-governmental organizations and to assist them in creating meaningful impact in their communities. UWI was created in 1974 to reach out to and embrace the needs of people and communities around the world, and to share the value, caring, and power of a proven brand-United Way.
                </p>
                <br />
                <p>
                    In line with the growing phenomenon of globalization, UWI sought to support and encourage the corporate social responsibility interests of newly emerging multinational corporations. Thirty-four years later, UWI still focuses on what matters to local communities. It supports United Way organizations in 42 countries. It makes tax-effective, donor-advised grants in 82 countries. It vigorously responds to requests from corporations, foundations, and individuals for assistance in developing coordinated, community-wide volunteer programs in support of local initiatives that are designed to make a difference. UWI values its rich image and heritage, and works hard to remain relevant to its donors, partners, and grantees. MHf is UWI affiliate in Malaysia since 8th May 2002.
                </p>
                <br />
            </div>
            <br />
            <h3>
                UWI member countries
            </h3>
            <div class="widgets-section">
                <div class="container">
                    <div class="row">
                        <!--Big Column-->
                        <article class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget post-column">
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Australia</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Guatemala</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Republic of Korea</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Russia (Moscow)</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Belarus</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Hong Kong</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Malaysia</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Singapore</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Belgium</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Hungary</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Mauritius</h5></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget post-column">
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>South Africa</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Brazil</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>India</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Mexico</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Thailand</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Canada</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Indonesia</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>New Zealand</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Trinidad & Tobago</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>China</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Israel</h5></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget post-column">
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Nicaragua</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>United Kingdom</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Chinese Taiwan</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Jamaica</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Nigeria</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>U.S. Virgin Islands</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Colombia</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Japan</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Peru</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Venezuela</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Jordan</h5></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget post-column">
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Philippines</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Zimbabwe</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Costa Rica</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Ecuador</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Kazakhstan</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Poland</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Greece</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Kenya</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Puerto Rico</h5></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
            <br />
            <h3>
                NGOs & MHF
            </h3>
            <div>
                <br />
                <p>
                    Over the first few years, MHf was making headway essentially to build trust building relationships with the NGOs. It takes time to build trust amongst NGOs as it also takes time for each NGO to work with one another. MHf decided to find an area that it could assist the NGO with and decided to do so via three primary direct support services initially to the NGOs.
                </p>
                <br />
            </div>
            <br />
            <div>
                <br />
                <h4>Direct Support Services</h4>
                <p>
                    1. HuBUR- a community call center division
                </p>
                <p>
                    2. HuCAV- a medical and psychosocial support for the NGOs
                </p>
                <p>
                    3. HuTAR - a counselling and therapy division
                </p>
                <br />
                <p>
                    These three direct support services were meant to provide an avenue whereby the lesser fortunate individuals at the NGO community homes will have a chance to be treated and assisted in a manner that will help them be rehabilitated in some possible way. Some of the rehabilitation possibilities are for them to go back to their families should the families reconciles. Some could get a job after obtaining sufficient counselling, and some could make themselves more independent by taking on vocational training. All in all, we are here to help the community sector in a way that protects their dignity while hoping that the nation will not be moving towards the development of a welfare state.
                </p>
                <br />
                <p>
                    MHf views the role of the family as a very important starting point. With a good family and a good sound foundation, we will be able to contribute more to society rather than to depend on the support of donors and/or the government. This will assist to show that the nation will also be a healthier and progressive nation.
                </p>
                <br />
                <p>
                    Community assistance should be provided to individuals that are afflicted with problems or challenges that they can no longer help themselves or to individuals who are born into a situation or an unforeseen circumstance that requires constant support.
                </p>
                <br />
            </div>
            <br />
            <h3>
                WHERE HAVE WE BEEN AND WHERE ARE WE NOW GOING?
            </h3>
            <div>
                <br />
                <p>
                    The foundation understands the challenges that it faces. However, it is taking all measures that it can to also advocate professionalism amongst NGOs and the community. Government sector and the Private sector needs to be more committed while being more involved in ensuring that family values and ethics are up held by the citizens. There is no better place to start than from a young age.
                </p>
                <br />
                <p>
                    In the community field, NGOs should make all attempts to work together as the community works is still at its infant stages. Without proper coordination, skilled staffing, proper and reliable budget, community works will continue to be vulnerable and unnecessarily competitive. As a foundation, we hope that the Government of Malaysia will take high interest in implementing and supporting organizations that wish to see that NGOs are not sprouting because there are more social problems but that the needs are genuinely growing while there is minimum or no abuse taking place.
                </p>
                <br />
            </div>
            <br />
            <h3>
                STAND
            </h3>
            <div>
                <br />
                <p>
                    If we don't do things properly, we will be wasting most of our limited and precious resources.  At the same time, community works is changing and entire community field needs to transform itself to account to funds collected with professionalism.
                </p>
                <br />
                <p>
                    The days will come when almost everyone will feel that they too need help and it will be too late if we have not provided Malaysia with the necessary human development programmes but continue to develop the economy without first understanding the geopolitical changes in the world with the psychosocial demands of Malaysians.
                </p>
                <br />
            </div>
            <br />
            <div class="widgets-section">
                <div class="container">
                    <div class="row">
                        <!--Big Column-->
                        <article class="big-column col-md-12 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="footer-widget post-column">
                                        <div class="section-title">
                                            <h4>D Disabled</h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Amal Hashimiah</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Persatuan Orang Amat Cacat</h5></a>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Akal,Selangor & Wilayah Persekutuan
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Persatuan Pemulihan Orang</h5></a>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Cacat Taman Megah
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Taman Sinar Harapan</h5></a>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                E Elderly
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Grace</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Rumah Orang Tua</h5></a>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Sejahtera Jenjarom
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Orang Tua Seri Setia</h5></a>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Hospice
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>MHf Hospice Humanitarian Care</h5></a>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                O orphans
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Anbu Illam</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>St. Barnabas Home & Community Centre</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Compassion Home</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Rumah Hope</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Rumah Impian</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Persatuan Rumah Kanak-Kanak Ini Disayangi (KIDS)</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Karuna Illam</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Rumah Anak Yatim/Miskin</h5></a>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Daerah Kuala Langat(Penyayang)
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Asrama Damai Anak-Anak Yatim Kuang</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Rumah Ozanam</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Precious Children's Home</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Pure Life Society</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Pertubuhan Kebajikan Anak</h5></a>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Yatim Islam Daerah Sabak Bernam
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Sayangan</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Rumah Kebajikan Anak Yatim Islam Sekendi</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Pusat Perkembangan Kemahiran Kebangsaan Serendah</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Yayasan Sunbeams Home</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Ti-Ratana Welfare Society</h5></a>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                Combination
                                            </h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Rumah Charis (EO)</h5></a>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Desa Amal Jireh (EO)</h5></a>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="section-title">
                                            <h4>
                                                House of Joy (DEO)
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </div>
</section>
