﻿@page
@model MHF.Website.Pages.ActivitiesModel
@{
    ViewData["Title"] = "Activities";
}


<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">ACTVITIES</span></h1>
            </div>
        </div>
    </div>
</section>

<section class="gallery sec-padd style-2">
    <div class="container">

        <div class="center">
            <h1> <span class="thm-color">PAST</span></h1>
        </div>

        <br />

        <div class="row">
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="~/Template/Humanity/images/Updates/1.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/1.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/2.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/2.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/3.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/3.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/4.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/4.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/5.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/5.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/6.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/6.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/7.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/7.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/8.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/8.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/6.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/6.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>



        </div>
    </div>
</section>

<section class="gallery sec-padd style-2">
    <div class="container">

        <div class="center">
            <h1> <span class="thm-color">PRESENT</span></h1>
        </div>

        <br />

        <div class="row">
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="~/Template/Humanity/images/Updates/1.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/1.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/2.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/2.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/3.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/3.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/4.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/4.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/5.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/5.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/6.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/6.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/7.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/7.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/8.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/8.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="item">
                    <img src="Template/Humanity/images/Updates/6.jpg" alt="">
                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a data-group="1" href="Template/Humanity/images/Updates/6.jpg" class="img-popup thm-btn">view project</a>
                                </div>
                            </div>
                        </div>
                        <div class="bottom"><a href="single-gallery.html"><h4>Clean poor urban areas to protect <br>from pollution.</h4></a></div>
                    </div>
                </div>
            </article>



        </div>
    </div>
</section>