﻿@page
@{
    ViewData["Title"] = "Appreciation";
}
<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 2004 & 2003</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">
    <div class="container">        
        <div class="content-wrapper">
            <p>
                MHf would not have made its current progress without your support and contributions. Your effort built our strength and your donations have enable us to realise our humanitarian causes diligently.
                Our sincere thanks to your contributions and we look forward for greater support from you.
            </p>

            <br />
            <div class="facilities">
                <h2>2004: CASH DONORS</h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM 100,000 & above</td>
                        <td class="facilities-b">  <span class="facility-label"></span>Dumex (M) Sdn Bhd</td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 50,000 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Aurora Tankers Sdn Bhd <br />
                            <span class="facility-label"></span>
                            MBM Resources Berhad
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM 10,000 to RM 49,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            AmMerchant Bank Berhad <br />
                            <span class="facility-label"></span>
                            Bank Islam Malaysia Berhad <br />
                            <span class="facility-label"></span>
                            IJM Corporation Berhad <br />
                            <span class="facility-label"></span>
                            Kuok Brothers Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Pengurusan Danaharta Nasional Berhad <br />
                            <span class="facility-label"></span>
                            Perodua Sales Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Y. Bhg. Dato' Siew Nim Chee <br />
                            <span class="facility-label"></span>
                            YTL Power Generation Sdn Bhd
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 5,000 to RM 9,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Public Bank Berhad
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">  RM 1,000 to RM 4 999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            HeiTech Padu Berhad <br />
                            <span class="facility-label"></span>
                            Sirim Berhad <br />
                            <span class="facility-label"></span>
                            Optimax Eye Specialist Centre Sdn Bhd <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM 100 to RM 999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            ITX Solutions (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Isomedia (M) Sdn Bhd<br />
                            <span class="facility-label"></span>
                            Mr. Au Kean Ming <br />
                            <span class="facility-label"></span>
                            Mr. S. K. Khoo <br />
                            <span class="facility-label"></span>
                            Mr. William Cha <br />
                            <span class="facility-label"></span>
                            Ms. Fong Lai Cheng <br />
                            <span class="facility-label"></span>
                            Royal & Sun Alliance Insurance (M) Berhad <br />
                            <span class="facility-label"></span>
                            Shunji Matsuo Sdn Bhd <br />
                            <span class="facility-label"></span>
                            SidAsia Ventures Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Y. T. M. Tunku Tan Sri Dato' Seri Ahmad Bin Tunku Yahaya <br />
                            <span class="facility-label"></span>
                            Farah Deba Consultancy Services <br />
                            <span class="facility-label"></span>
                            Ms. Manimala A/P Raman
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>2004: SPONSORS-IN-KIND</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            English Hotbreads (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Petroliam National Berhad <br />
                            <span class="facility-label"></span>
                            Pathology & Clinical Laboratory (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Recall Malaysia Sdn Bhd <br />

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />


            <div class="facilities">
                <h2>2003: CASH DONORS</h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM 250,000 & above</td>
                        <td class="facilities-b">  <span class="facility-label"></span>Internetwork Architects Sdn Bhd</td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 50,000 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Dumex (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Mr. Henry Teh Kok Kheng
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 10,000 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            IJM Corporation Berhad <br />
                            <span class="facility-label"></span>
                            Mr. Loy Boon Chen
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">  RM 5,000 to RM 9,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Precious Premier (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Westport (Kelang Multi Terminal Sdn Bhd)
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">  RM 5,000 to RM 9,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Precious Premier (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Westport (Kelang Multi Terminal Sdn Bhd)
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 1,000 to 4,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Apex Communications Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Bank Muamalat Malaysia Berhad <br />
                            <span class="facility-label"></span>
                            Y. Bhg. Tan Sri Dato' Lee San Choon
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM 100 to RM 999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Mr. Fong Wai Chan <br />
                            <span class="facility-label"></span>
                            Mr. Paul Lim<br />
                            <span class="facility-label"></span>
                            Mr. Toh Sue Bee <br />
                            <span class="facility-label"></span>
                            Ms. Fong Lai Cheng<br />
                            <span class="facility-label"></span>
                            Mr. William Cha <br />
                            <span class="facility-label"></span>
                            Ms. Fong Lai Cheng <br />
                            <span class="facility-label"></span>
                            Ms. Palaniamah AP Velappan <br />
                            <span class="facility-label"></span>
                            P & O Nedlloyd M. A. Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Royal & Sun Alliance Insurance (M) Bhd <br />
                            <span class="facility-label"></span>
                            Ms. Yap Li Heong <br />
                            <span class="facility-label"></span>
                            Yiu Seng Electrical Sdn Bhd

                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 10 to RM 99</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Encik Anuar Bin Ismail <br />
                            <span class="facility-label"></span>
                            Ms. Foo Sock Yan
                        </td>
                    </tr>
                </table>
            </div>


            <div class="clear"></div>

            <br /> <br />

            <div class="facilities">
                <h2>2003: SPONSORS IN KIND</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            English Hotbreads (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            LimKokWing Institute of Creative Technology<br />
                            <span class="facility-label"></span>
                            Logan Sabapathy & Co <br />
                            <span class="facility-label"></span>
                            Memory Tech Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Petroliam National Berhad <br />
                            <span class="facility-label"></span>
                            Rainbow Paper Supplies Sdn Bhd<br />
                            <span class="facility-label"></span>
                            Ram Rais & Partners<br />
                            <span class="facility-label"></span>
                            Technique Supplier International<br />
                            <span class="facility-label"></span>
                            Y.M. Tengku Tan Sri Dato' Seri Ahmad Rithaudden

                        </td>

                    </tr>


                </table>
            </div>


            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Senior Citizen Humanitarian Club (SCHC), Brickfields Voluntary Committee Year 2003/2004</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Chairman: Mr. Roland Cheng <br />
                            <span class="facility-label"></span>
                            Deputy Chairman: Mr. Peter Lee<br />
                            <span class="facility-label"></span>
                            Treasurer: Mr. Kwan Fong <br />
                            <span class="facility-label"></span>
                            Secretary: Madam Ruby Tan <br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Ballroom Dancing: Mr. Peter Lee <br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Social Dance: Mr. Peter Lee<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Indian Culture Affairs: Madam Komaleswari Nagalingam<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Karaoke: Madam Tang Kum Thoe<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Line Dancing: Madam Phoon Sew King<br />
                            <span class="facility-label"></span>
                            Logistic Affairs: Mr. Tan See Kuan, Madam Lim Ngor Ngoh &  Miss Ann Liew<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Tai-Chi: Madam Ching Ah Hu

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Senior Citizen Humanitarian Club (SCHC), Klang Voluntary Committee Year 2003/2004</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Chairman: Mr. Teo Teck Kim <br />
                            <span class="facility-label"></span>
                            Deputy Chairman: Mr. Tan Sing Leong<br />
                            <span class="facility-label"></span>
                            Tresurer:Mr. Ng Ah Hai <br />
                            <span class="facility-label"></span>
                            Secretary: Mdm Siaw Yoke Leng <br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Ballroom Dancing: <br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Social Dance: <br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Indian Culture Affairs:<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Karaoke:<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Line Dancing:<br />
                            <span class="facility-label"></span>
                            Logistic Affairs:<br />
                            <span class="facility-label"></span>
                            Project Activity Leader, Tai-Chi: Hon Sui Kiat

                        </td>

                    </tr>


                </table>
            </div>


        </div>
        </div>
     
</section>

