﻿@page
@model MHF.Website.Pages.Appreciation20032002Model
@{
    ViewData["Title"] = "Appreciation 2003 & 2002";
}

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 2003 & 2002</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">
    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    APPRECIATION AND THANKS 2003 & 2002
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>VIETNAM : Mr. Nguyen Thiep, Deputy Secretary General, Vietnam Red Cross<br />
                            <span class="facility-label"></span>Ms. Ha Thi Lien, Standing Member the Board of Chairman, Vietnam Fatherland’s Front<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    2002: CASH DONORS
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM50,000 & above</td>
                        <td class="facilities-b">  <span class="facility-label"></span>Dumex (M) Sdn Bhd</td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM10,000 to RM49,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            IJM Corporation Berhad <br />
                            <span class="facility-label"></span>
                            Resorts World Berhad
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM5,000 to RM9,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Metrojaya <br />
                            <span class="facility-label"></span>
                            Precious Premier (M) Sdn Bhd<br />
                            <span class="facility-label"></span>
                            Simor Creative (M) Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM1,000 to RM4,999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Affin Bank Berhad <br />
                            <span class="facility-label"></span>	Atien Industries Sdn Bhd<br />
                            <span class="facility-label"></span>	British American Tobacco (M) Bhd<br />
                            <span class="facility-label"></span>	Cheng Ai Wah<br />
                            <span class="facility-label"></span>	Excel Training Sdn Bhd<br />
                            <span class="facility-label"></span>	Maymerge (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Mdm. Siew Wai Fun<br />
                            <span class="facility-label"></span>	Perusahaan Otomobil Nasional Bhd<br />
                            <span class="facility-label"></span>	Precious Premier (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Ter Ah Geok<br />
                            <span class="facility-label"></span>	Winflon Holding Sdn Bhd<br />

                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM100 to RM999</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Anna C, K. <br />
                            <span class="facility-label"></span>	Cheah Chor Khian <br />
                            <span class="facility-label"></span>	Chou Yoot Chan<br />
                            <span class="facility-label"></span>	Fong Wai Chan<br />
                            <span class="facility-label"></span>	Giuseppe Scarpa de Masellis<br />
                            <span class="facility-label"></span>	Hudal Firdaus Dimyati<br />
                            <span class="facility-label"></span>	Jaya Jusco Store Berhad<br />
                            <span class="facility-label"></span>	Kok Choon Yong<br />
                            <span class="facility-label"></span>	Kwan Fong<br />
                            <span class="facility-label"></span>	Mokhtar bin Nordin<br />
                            <span class="facility-label"></span>	Palaniamah<br />
                            <span class="facility-label"></span>	Phuah Beng Chooi<br />
                            <span class="facility-label"></span>	Royal & Sun Alliance Insurance (M) Bhd<br />
                            <span class="facility-label"></span>	Shamsul Bahrain bin Sulaiman<br />
                            <span class="facility-label"></span>	Sharifah Masliza Syed Mustapha<br />
                            <span class="facility-label"></span>	Suria Holdings Sdn Bhd<br />
                            <span class="facility-label"></span>	Syed Kamal Affendi Syed Mustapha<br />
                            <span class="facility-label"></span>	Teoh Kah Hiok<br />
                            <span class="facility-label"></span>	Ter Ah Geok<br />
                            <span class="facility-label"></span>	Wong Seng Thai<br />
                            <span class="facility-label"></span>	Yap Li Heong<br />


                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>2002: SPONSORS-IN-KIND</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Armada Hotel <br />
                            <span class="facility-label"></span>	BR Property Holdings Sdn.Bhd<br />
                            <span class="facility-label"></span>	Berjaya Redang Resort Sdn Bhd<br />
                            <span class="facility-label"></span>	Carrefour Magnificent Sdn Bhd<br />
                            <span class="facility-label"></span>	Cosmo Restaurant<br />
                            <span class="facility-label"></span>	Country Mix<br />
                            <span class="facility-label"></span>	Dr. Nortier's Rooibos Museum<br />
                            <span class="facility-label"></span>	English Hot breads (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Express Rail Link Sdn Bhd<br />
                            <span class="facility-label"></span>	Hotel Seri Costa<br />
                            <span class="facility-label"></span>	IBM Malaysia Sdn. Bhd.<br />
                            <span class="facility-label"></span>	Jaya Jusco Store Berhad<br />
                            <span class="facility-label"></span>	Kentucky Fried Chicken<br />
                            <span class="facility-label"></span>	Kosmo Kars Sdn Bhd<br />
                            <span class="facility-label"></span>	Malaysian Philharmonic Orchestra<br />
                            <span class="facility-label"></span>	Malayan Banking Berhad<br />
                            <span class="facility-label"></span>	Nando's Chickenland (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Nestle (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Peter & Maggie Dance Slot<br />
                            <span class="facility-label"></span>	Petroliam Nasional Berhad<br />
                            <span class="facility-label"></span>	Ragtime (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Rainbow Paper Supplies Sdn Bhd<br />
                            <span class="facility-label"></span>	Royal Selangor International Sdn Bhd<br />
                            <span class="facility-label"></span>	Sek. Men. Sains Selangor Alumni<br />
                            <span class="facility-label"></span>	Tahan Insurance Malaysia Berhad<br />
                            <span class="facility-label"></span>	Tanjung Century<br />
                            <span class="facility-label"></span>	Temple of Fine Arts<br />

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />

            <div class="facilities">
                <h2>Volunteers</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Encik Abdullah b. Abdul Rahman <br />
                            <span class="facility-label"></span>	Mr. Gordon Leo<br />
                            <span class="facility-label"></span>	Encik Kamal b. Kadir<br />
                            <span class="facility-label"></span>	Mr. Mathavan so Velayuthan<br />
                            <span class="facility-label"></span>	Encik Mohd Hoidzir Bin Haji Ismail<br />
                            <span class="facility-label"></span>	Mr. Peter Lee<br />
                            <span class="facility-label"></span>	YB. Dato' IR Lum Weng Keong<br />
                            <span class="facility-label"></span>	Puan Suriana Bt. Sulaiman<br />
                            <span class="facility-label"></span>	Encik Yaacob Bin Yusoff<br />
                        </td>

                    </tr>


                </table>
            </div>


            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Senior Citizen Humanitarian Club (SCHC), Brickfields Voluntary Committee Year 2002/2003</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Chairman: Mr Kwan Fong <br />
                            <span class="facility-label"></span>	Deputy Chairman: Mdm. Phoon Sew King<br />
                            <span class="facility-label"></span>	Treasurer: Mdm. Tan Poh Quee<br />
                            <span class="facility-label"></span>	Project Activity Leader, Ballroom Dancing: Mdm. Maggie Lim Siew Kheng<br />
                            <span class="facility-label"></span>	Project Activity Leader, General/ Social Dance: Mdm. Tang Kum Thoe<br />
                            <span class="facility-label"></span>	Project Activity Leader, Indian Cultural Affairs: Mdm. Nagalinga Komaleswara<br />
                            <span class="facility-label"></span>	Project Activity Leader, Karaoke: Mdm. Lim Tin Ngoh<br />
                            <span class="facility-label"></span>	Project Activity Leader, Line Dancing: Mdm. Lim Sieng Fong<br />
                            <span class="facility-label"></span>	Logistic Affairs: Mr. Lee Yew Thong<br />
                            <span class="facility-label"></span>	Logistic Affairs: Mr. Lim Poh Heng<br />
                            <span class="facility-label"></span>	Logistic Affairs: Mdm. Tan Lye Bee<br />
                            <span class="facility-label"></span>	Project Activity Leader, Tai<span class="facility-label"></span>Chi: Mdm. Cheng Ah Hu<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Senior Citizen Humanitarian Club(SCHC), Klang Voluntary Committee Year 2002/2003</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Chairman: Mdm. Cheng Ai Wah <br />
                            <span class="facility-label"></span>	Deputy Chairman: Mdm. Lau Chooi Mei<br />
                            <span class="facility-label"></span>	Treasurer: Mr. Ng Ah Hai<br />
                            <span class="facility-label"></span>	Secretary: Mdm. Maggie Tan<br />
                            <span class="facility-label"></span>	Assistant Secretary: Mdm. Lucy Sim Ah Eng<br />
                            <span class="facility-label"></span>	Project Activity Leader, Line & Social Dancing:Mdm. Chan Tai<br />
                            <span class="facility-label"></span>	Project Activity Assistant Leader, Line &<br />
                            <span class="facility-label"></span>	Social Dancing Mdm. Siaw Yoke Leng<br />
                            <span class="facility-label"></span>	Project Activity Assistant Leader, Line & Social Dancing: Mdm. Mok Ah Sui<br />
                            <span class="facility-label"></span>	Logistic Affairs: Mdm. Chew Lai Lain<br />
                            <span class="facility-label"></span>	Logistic Affairs: Mdm. Siaw Yoke Leng<br />
                            <span class="facility-label"></span>	Project Activity Leader, Qigong: Mdm. Hong Sut Kai<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Social Event Humanitarian Club (SEHC), Klang Interim Voluntary Committee Year 2002/2003</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Secretary: Mdm. Lae Chao Yeng <br />
                            <span class="facility-label"></span>	Treasurer: Mr. Tan Sing Leong<br />
                            <span class="facility-label"></span>	Logistic Affairs: Mr. Teo Teck Kim<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>
