﻿@page
@model MHF.Website.Pages.Appreciation20022001Model
@{
    ViewData["Title"] = "Appreciation 2002 & 2001";
}

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 2002 & 2001</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">
    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    2001: CASH DONORS
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM200,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>Nokia (M) Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM5,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Bandar Raya Development Berhad<br />
                            <span class="facility-label"></span>	IBM Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span>	Rotary Club Of Brickfield<br />
                            <span class="facility-label"></span>	Securities Commission<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM1,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	CMnet Dotcom Sdn Bhd<br />
                            <span class="facility-label"></span>	Dynacommunications Sdn Bhd<br />
                            <span class="facility-label"></span>	Kenneison Brothers Sdn Bhd<br />
                            <span class="facility-label"></span>	L.T. Industries Sdn Bhd<br />
                            <span class="facility-label"></span>	Malaysian - Finnish Business Council<br />
                            <span class="facility-label"></span>	Maxis Communications Berhad<br />
                            <span class="facility-label"></span>	Measat Broadcast Network Systems Sdn Bhd<br />
                            <span class="facility-label"></span>	Pan Poh Choo<br />
                            <span class="facility-label"></span>	Pei Construction Sdn Bhd<br />
                            <span class="facility-label"></span>	Precious Premier (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Sapura Holdings Sdn Bhd<br />
                            <span class="facility-label"></span>	Selancom Sdn Bhd<br />
                            <span class="facility-label"></span>	Seri Pancar Sdn Bhd<br />
                            <span class="facility-label"></span>	Sport Toto Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span>	Sri Tahana Sdn Bhd<br />
                            <span class="facility-label"></span>	Telekom Cellular Sdn Bhd<br />
                            <span class="facility-label"></span>	Telekom Malaysia Bhd<br />
                            <span class="facility-label"></span>	Viscocom Sdn Bhd <br />
                            <span class="facility-label"></span>	Vision plus Televideo Sdn Bhd<br />
                            <span class="facility-label"></span>	Zitron Enterprise (M) Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM100.00 RM999.00</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Advanced Packaging Technology (M) Bhd<br />
                            <span class="facility-label"></span>	Amarjit Kaur A/P Guljar Singh<br />
                            <span class="facility-label"></span>	C.O.M.M Centre Sdn Bhd<br />
                            <span class="facility-label"></span>	Celcom (Malaysia) Sdn Bhd<br />
                            <span class="facility-label"></span>	Chan Ah Mui<br />
                            <span class="facility-label"></span>	Chan May Foong<br />
                            <span class="facility-label"></span>	Chat Shop<br />
                            <span class="facility-label"></span>	Chew Tat Lin<br />
                            <span class="facility-label"></span>	Chong Siew Chen<br />
                            <span class="facility-label"></span>	Chow Yoot Chan<br />
                            <span class="facility-label"></span>	Chung Suit Meng<br />
                            <span class="facility-label"></span>	CMRS Sdn Bhd<br />
                            <span class="facility-label"></span>	Comtec Cellular Marketing<br />
                            <span class="facility-label"></span>	Connie Siow Mee Nar<br />
                            <span class="facility-label"></span>	Dr. Raja Lope bin Shahrome<br />
                            <span class="facility-label"></span>	Edge Communications Sdn Bhd<br />
                            <span class="facility-label"></span>	Electroscon Sdn Bhd<br />
                            <span class="facility-label"></span>	FC.LOKE<br />
                            <span class="facility-label"></span>	Fong Lai Cheng<br />
                            <span class="facility-label"></span>	Fong Wai Cheng<br />
                            <span class="facility-label"></span>	Hamzah Mohd Shariff<br />
                            <span class="facility-label"></span>	Integrated Communications Sdn Bhd<br />
                            <span class="facility-label"></span>	Lau Chooi Mei<br />
                            <span class="facility-label"></span>	Lee Kin Hin<br />
                            <span class="facility-label"></span>	Leong Kai Theng<br />
                            <span class="facility-label"></span>	Leong Song Fong<br />
                            <span class="facility-label"></span>	Low Gah Yin<br />
                            <span class="facility-label"></span>	Low Nee Fatt<br />
                            <span class="facility-label"></span>	Mobile Place Marketing Sdn Bhd<br />
                            <span class="facility-label"></span>	OACC Marketing Sdn Bhd<br />
                            <span class="facility-label"></span>	One To One Communications Sdn Bhd<br />
                            <span class="facility-label"></span>	Ooi Joo Lee<br />
                            <span class="facility-label"></span>	P&D Mobile Centre Sdn Bhd<br />
                            <span class="facility-label"></span>	Power Vantage Cellular Sdn Bhd<br />
                            <span class="facility-label"></span>	Prima Structure Construction<br />
                            <span class="facility-label"></span>	Quah Teow Puan<br />
                            <span class="facility-label"></span>	Rosita Tan<br />
                            <span class="facility-label"></span>	Rosta Harun<br />
                            <span class="facility-label"></span>	Sapura Marketing Sdn Bhd<br />
                            <span class="facility-label"></span>	Sapura Transmission Sdn Bhd<br />
                            <span class="facility-label"></span>	Senheng Electric (KL) sdn Bhd<br />
                            <span class="facility-label"></span>	Shimetsu--Express (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Sunlight Engineering sdn Bhd<br />
                            <span class="facility-label"></span>	Tac - On Telecommunication Sales & Services Sdn Bhd<br />
                            <span class="facility-label"></span>	Takacom Cellular<br />
                            <span class="facility-label"></span>	Tam Pak Cheong<br />
                            <span class="facility-label"></span>	Tam Yuh Ying<br />
                            <span class="facility-label"></span>	Tan Bak Poh<br />
                            <span class="facility-label"></span>	The Lions Club of Ampang<br />
                            <span class="facility-label"></span>	Time Dotcom Sdn Bhd<br />
                            <span class="facility-label"></span>	Wandi Marketing Sdn Bhd<br />
                            <span class="facility-label"></span>	Wee Joon Koon<br />
                            <span class="facility-label"></span>	Wong Saw Wei<br />
                            <span class="facility-label"></span>	World of Phones Sdn Bhd<br />
                            <span class="facility-label"></span>	Yap Li Heong<br />
                            <span class="facility-label"></span>	Yap Pamax Communication Sdn Bhd<br />
                            <span class="facility-label"></span>	Yow Eng How<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    2001: CASH SPONSORS
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM10,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>Allied Group Property Consultant Sdn Bhd<br />
                            <span class="facility-label"></span>Jebsen & Jebsen Communications (M) Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM5,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Digi Communications Sdn Bhd <br />
                            <span class="facility-label"></span>
                            OSN Network Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM1,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Affin Bank Berhad <br />
                            <span class="facility-label"></span>	ABRIC Berhad<br />
                            <span class="facility-label"></span>	Arab - Malaysian Merchant Bank Berhad<br />
                            <span class="facility-label"></span>	Nestle Products Sdn Bhd<br />
                            <span class="facility-label"></span>	Rating Agency Malaysia Berhad<br />
                            <span class="facility-label"></span>	Wan Creations Sdn Bhd<br />
                            <span class="facility-label"></span>	Henry Teh Kok Kheng<br />
                            <span class="facility-label"></span>	Ter Ah Geok<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM100.00 to RM999.00</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Arab Malaysian Bank Berhad <br />
                            <span class="facility-label"></span>	Tan Jin Chin<br />
                            <span class="facility-label"></span>	Cheng Ai Wah<br />
                            <span class="facility-label"></span>	Leong Kai Theng<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>2001: SPONSORS-IN-KIND</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	D. Time Sdn Bhd<br />
                            <span class="facility-label"></span>	AC Nielsen<br />
                            <span class="facility-label"></span>	Alex Eversden, Aqua Aerobic Instructor<br />
                            <span class="facility-label"></span>	ALIF Creative Academy<br />
                            <span class="facility-label"></span>	Antioni Sdn Bhd<br />
                            <span class="facility-label"></span>	Apex Pharmacy<br />
                            <span class="facility-label"></span>	Arab - Malaysian Banking Group<br />
                            <span class="facility-label"></span>	Ark Career Development Center<br />
                            <span class="facility-label"></span>	Bangsar Shopping Complex<br />
                            <span class="facility-label"></span>	Brambles Corp. Sdn Bhd<br />
                            <span class="facility-label"></span>	Chang Choy Wong's Physical Training Institute<br />
                            <span class="facility-label"></span>	Chef Azrah Kamala<br />
                            <span class="facility-label"></span>	Chef Ismail from Nestle (M) Berhad<br />
                            <span class="facility-label"></span>	Citibank Berhad<br />
                            <span class="facility-label"></span>	Cosmo Restaurants Sdn Bhd<br />
                            <span class="facility-label"></span>	Cynthia Teh, Dance instructor<br />
                            <span class="facility-label"></span>	Delifrance (Malaysia) Sdn Bhd<br />
                            <span class="facility-label"></span>	Desa Water Park <br />
                            <span class="facility-label"></span>	Dewan  Bandaraya Kuala Lumpur<br />
                            <span class="facility-label"></span>	Dumex Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span>	Elovest Design Consultants sdn Bhd<br />
                            <span class="facility-label"></span>	English Hotbreads (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Farmasi Utama Sdn Bhd<br />
                            <span class="facility-label"></span>	Fly Guy, Hitz FM Radio DJ<br />
                            <span class="facility-label"></span>	Gardenia Bakeries (KL) Sdn Bhd<br />
                            <span class="facility-label"></span>	GCB Trading<br />
                            <span class="facility-label"></span>	Giant Hypermarket Ulu Kelang  S/B<br />
                            <span class="facility-label"></span>	Gymnastic Association of Malaysia<br />
                            <span class="facility-label"></span>	Hartalega Sdn Bhd<br />
                            <span class="facility-label"></span>	Infavour Marketing<br />
                            <span class="facility-label"></span>	Jay Jay, Singer<br />
                            <span class="facility-label"></span>	Jaya Jusco Berhad<br />
                            <span class="facility-label"></span>	KFC Holdings (Malaysia) Berhad<br />
                            <span class="facility-label"></span>	Malayan Banking Bhd<br />
                            <span class="facility-label"></span>	Malayan University of Dental Aumni and Ministry of Defence<br />
                            <span class="facility-label"></span>	Malaysia Basketball Association<br />
                            <span class="facility-label"></span>	Malaysian Diagnostic Corp. Sdn Bhd<br />
                            <span class="facility-label"></span>	Mdm. Ho Choy Meng, Origami Sensei<br />
                            <span class="facility-label"></span>	Mdm. Ter Ah Geok<br />
                            <span class="facility-label"></span>	Measat Broadcast Network Systems Sdn Bhd<br />
                            <span class="facility-label"></span>	Motorola Technology Sdn Bhd<br />
                            <span class="facility-label"></span>	Mr. Cha Hwaa An<br />
                            <span class="facility-label"></span>	Mr. H. T. Long<br />
                            <span class="facility-label"></span>	Mr. Lee Han Pin, Jacky Cheung impersonator<br />
                            <span class="facility-label"></span>	Mr. Leong Kai Theng<br />
                            <span class="facility-label"></span>	Mr. Tan Jin Chin<br />
                            <span class="facility-label"></span>	Mrs. A. Low<br />
                            <span class="facility-label"></span>	Ms. Lau Moi Leng<br />
                            <span class="facility-label"></span>	Nestle (Malaysia) Berhad<br />
                            <span class="facility-label"></span>	Nestle Products Sdn Bhd<br />
                            <span class="facility-label"></span>	Nissan - Industrial oxygen Incorporation Bhd<br />
                            <span class="facility-label"></span>	Park May Berhad<br />
                            <span class="facility-label"></span>	Pathlab Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span>	Percetakan Sri Utusan Sdn Bhd<br />
                            <span class="facility-label"></span>	Persatuan Badminton Malaysia<br />
                            <span class="facility-label"></span>	Persatuan Taekwando Malaysia (Selangor)<br />
                            <span class="facility-label"></span>	Petroliam Nasional Berhad (Petronas)<br />
                            <span class="facility-label"></span>	Puan Sharifah from Istana Budaya<br />
                            <span class="facility-label"></span>	Puppet Shoulder Danceworks<br />
                            <span class="facility-label"></span>	Quality Hotel City Centre Kuala Lumpur<br />
                            <span class="facility-label"></span>	Restoran Nelayan, Taman Tasik Titiwangsa<br />
                            <span class="facility-label"></span>	Roche Diagnostic sdn Bhd<br />
                            <span class="facility-label"></span>	Rotary Club of Klang<br />
                            <span class="facility-label"></span>	Shangri - La Hotel<br />
                            <span class="facility-label"></span>	SmithKline Beecham Sdn Bhd<br />
                            <span class="facility-label"></span>	Sogo Pernas Department store S/B<br />
                            <span class="facility-label"></span>	Sri Wilayah Dance Studio<br />
                            <span class="facility-label"></span>	Supreme Plus<br />
                            <span class="facility-label"></span>	Suria KLCC<br />
                            <span class="facility-label"></span>	Syarikat Bas Abdul Ghafar bin Abdul Ghani Sdn Bhd<br />
                            <span class="facility-label"></span>	Tan Siew Cheng<br />
                            <span class="facility-label"></span>	The Federal Dance Academy<br />
                            <span class="facility-label"></span>	The Hour Glass Sdn  Bhd <br />
                            <span class="facility-label"></span>	The STAR<br />
                            <span class="facility-label"></span>	Tun Hussein Onn National Eye Hospital<br />
                            <span class="facility-label"></span>	Two Way Management Sdn Bhd<br />
                            <span class="facility-label"></span>	UPHA corporation (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Wan Creations Sdn Bhd<br />
                            <span class="facility-label"></span>	Yeo Hiap Seng Malaysia Berhad<br />
                            <span class="facility-label"></span>	Zaharah bte Idris<br />
                            <span class="facility-label"></span>	Zepa Soul Pattinson (M) Sdn Bhd<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>
