﻿@page
@model MHF.Website.Pages.Appreciation20012000Model
@{
    ViewData["Title"] = "Appreciation 2001 & 2000";
}

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 2001 & 2000</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">
    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    Senior Citizen Humanitarian Club (SCHC), Brickfields Voluntary Committee Year 2001/2002 (15.10.01-14.10.02)
                </h2>
                <br />
                <h2>
                    Core Voluntary Committee
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Chairman: Mr. Kok Choon Yong<br />
                            <span class="facility-label"></span>	Deputy Chairman: Mdm. Ter Ah Geok<br />
                            <span class="facility-label"></span>	Secretary: Mr. Kwan Fong<br />
                            <span class="facility-label"></span>	Treasurer: Mr. Yap Tuan Leong (resigned on 06.03.02)<br />

                        </td>
                    </tr>
                </table>
                <br />
                <h2>
                    Sub-Voluntary Committee
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Project Activity Leader, Ballroom Dancing: Mdm. Teoh Kah Hiok (resigned on 06.03.02)<br />
                            <span class="facility-label"></span>	Project Activity Leader, Chinese Cultural Affairs (appointed on 02.01.02)<br />
                            <span class="facility-label"></span>	Project Activity Leader Indian Cultural Affairs: Mdm. PD. Joachim (resigned on 06.04.02)<br />
                            <span class="facility-label"></span>	Project Activity Leader, Line Dancing: Mdm. Phoon Sew King<br />
                            <span class="facility-label"></span>	Project Activity Leader, Tai - Chi: Mr Cheng Hong Er<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    2000: CASH DONORS
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM 60,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>Continental Top Products & Engineering Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 5,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            LaSalle International Design School Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Loh Wan Lee<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM1,000.00 & above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Algotech (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Diethelm Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span>	MUI Plaza Sdn Bhd<br />
                            <span class="facility-label"></span>	Ringrose Kindergarten Sdn Bhd<br />
                            <span class="facility-label"></span>	SRT - EON Security Services Sdn Bhd<br />
                            <span class="facility-label"></span>	Trinity Methodist Church<br />
                            <span class="facility-label"></span>	Vanajam Kaloo<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM100.00 to RM999.00</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Victoria <br />
                            <span class="facility-label"></span>	Amanah Capital Group<br />
                            <span class="facility-label"></span>	Chee Kam Leng<br />
                            <span class="facility-label"></span>	Chen Siew Kuan<br />
                            <span class="facility-label"></span>	Cheong Yoke Ping<br />
                            <span class="facility-label"></span>	Chua Bee Kheng<br />
                            <span class="facility-label"></span>	Chung Suit Meng<br />
                            <span class="facility-label"></span>	Dr. Amarjit Kaur<br />
                            <span class="facility-label"></span>	Dr. Raja Raja Shahrome<br />
                            <span class="facility-label"></span>	Erik Trock - Jansen<br />
                            <span class="facility-label"></span>	Fong Lee Hing<br />
                            <span class="facility-label"></span>	Fong Loong Heng<br />
                            <span class="facility-label"></span>	Fong Yin Chin<br />
                            <span class="facility-label"></span>	Foo Sock Yan<br />
                            <span class="facility-label"></span>	Giam Ka Eng<br />
                            <span class="facility-label"></span>	Heitech Padu Sdn Bhd<br />
                            <span class="facility-label"></span>	Ho Yoke eng<br />
                            <span class="facility-label"></span>	Ir. Jack Tan<br />
                            <span class="facility-label"></span>	Lau Sau Lin<br />
                            <span class="facility-label"></span>	Linda Loh Yong<br />
                            <span class="facility-label"></span>	Ooi Chong Meng<br />
                            <span class="facility-label"></span>	Oon Chew Boon<br />
                            <span class="facility-label"></span>	Pan Choi Yen<br />
                            <span class="facility-label"></span>	Paramjit Singh<br />
                            <span class="facility-label"></span>	Phillip Mak Chin Wah<br />
                            <span class="facility-label"></span>	Ricardo Edwin Rozario<br />
                            <span class="facility-label"></span>	Robin Teoh<br />
                            <span class="facility-label"></span>	Rosita Tan<br />
                            <span class="facility-label"></span>	Royal & Sun Alliance Insurance (M) S/B<br />
                            <span class="facility-label"></span>	S. Joseph<br />
                            <span class="facility-label"></span>	Simone Lohn<br />
                            <span class="facility-label"></span>	Southdene Sdn Bhd<br />
                            <span class="facility-label"></span>	Tan Bak Poh<br />
                            <span class="facility-label"></span>	Tan Jay See<br />
                            <span class="facility-label"></span>	Tan Jin Chin<br />
                            <span class="facility-label"></span>	Tan Saw Hong<br />
                            <span class="facility-label"></span>	Teh Beng Geok<br />
                            <span class="facility-label"></span>	UP - Trend Chair Line<br />
                            <span class="facility-label"></span>	Vecoc Aluminium Sdn Bhd<br />
                            <span class="facility-label"></span>	Won Thean Sang<br />
                            <span class="facility-label"></span>	Wong Chung Heong<br />
                            <span class="facility-label"></span>	Wong Sau Ling<br />
                            <span class="facility-label"></span>	Wong Saw Wei<br />
                            <span class="facility-label"></span>	Xepa - Soul Pattinson (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Yang Freights (M) Sdn Bhd<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>2000: SPONSORS-IN-KIND</h2>
                <table>
                    <tr>
                        <td class="facilities-a">Corporations</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Bionax (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Boots Healthcare Co.<br />
                            <span class="facility-label"></span>	BSN Commercial Bank (M) Bhd<br />
                            <span class="facility-label"></span>	Centre Director of Jessie & Thomas Tam Centre, Hong Kong<br />
                            <span class="facility-label"></span>	Computer Applied Systems & Engineering Sdn Bhd<br />
                            <span class="facility-label"></span>	Crystal Bottled Water<br />
                            <span class="facility-label"></span>	Dumex (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	ESH (Puchong) Sdn Bhd<br />
                            <span class="facility-label"></span>	Fumark Corporation<br />
                            <span class="facility-label"></span>	HeiTech Padu Sdn Bhd<br />
                            <span class="facility-label"></span>	IBM Malaysia<br />
                            <span class="facility-label"></span>	Jobstreet malaysia Sdn Bhd<br />
                            <span class="facility-label"></span>	Kem Wardieburn<br />
                            <span class="facility-label"></span>	Kementerian Tanah dan Pembangunan Kooperasi<br />
                            <span class="facility-label"></span>	King Koil Corporation (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Measat Broadcast Network Systems (Prado Cruisers)<br />
                            <span class="facility-label"></span>	Metrojaya Berhad<br />
                            <span class="facility-label"></span>	Microsoft (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Microsoft Knowledge Capital Centre<br />
                            <span class="facility-label"></span>	Natural Connection<br />
                            <span class="facility-label"></span>	New Horizons Computer Learning Centre<br />
                            <span class="facility-label"></span>	Percetakan Sri Utusan Sdn Bhd<br />
                            <span class="facility-label"></span>	Petronas Dagangan Berhad<br />
                            <span class="facility-label"></span>	Research International Asia (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Star Publications (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	The New Straits Times Press (M) Bhd<br />
                            <span class="facility-label"></span>	Unilever (M) Holdings Sdn Bhd<br />
                            <span class="facility-label"></span>	Upha Corporation (M) Sdn Bhd<br />
                            <span class="facility-label"></span>	Wilsherben Sdn Bhd (Kai Projetz)<br />
                            <span class="facility-label"></span>	Yuen Leong Sing Fatt Temple<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">Associations</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Akademi Seni Negara, Malaysia <br />
                            <span class="facility-label"></span>	Disability Action Council, Cambodia<br />
                            <span class="facility-label"></span>	Japanese Dance Sports Federation, Japan<br />
                            <span class="facility-label"></span>	Majlis Pusat Kebajikan Semenanjung Malaysia<br />
                            <span class="facility-label"></span>	Malaysian Amateur Dance Sports Association<br />
                            <span class="facility-label"></span>	Malaysian Association for the Blind<br />
                            <span class="facility-label"></span>	National CBR Co-ordinating Committee Malaysia<br />
                            <span class="facility-label"></span>	National Council of Senior Citizen Organisation<br />
                            <span class="facility-label"></span>	National Council of Social Service, Singapore<br />
                            <span class="facility-label"></span>	PERKESO<br />
                            <span class="facility-label"></span>	Persatuan Pesara Kerajaan Malaysia<br />
                            <span class="facility-label"></span>	Selangor Council of Social Welfare<br />
                            <span class="facility-label"></span>	Society of the Orthopaedically Handicapped<br />
                            <span class="facility-label"></span>	The Association of Chartered Certified Accountants (ACCA)<br />
                            <span class="facility-label"></span>	The National Cancer Society of Malaysia<br />
                            <span class="facility-label"></span>	The National Council of Social Welfare,Thailand<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">Voluntary Organisations</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>	Alzheimer's Disease Foundation <br />
                            <span class="facility-label"></span>	Anbu Illam Orphanage<br />
                            <span class="facility-label"></span>	Code<span class="facility-label"></span>NGO, Philippines<br />
                            <span class="facility-label"></span>	Community Recovery Program, Indonesia<br />
                            <span class="facility-label"></span>	Community Support Network<br />
                            <span class="facility-label"></span>	Dignity & Services<br />
                            <span class="facility-label"></span>	Dover Park Hospice, Singapore<br />
                            <span class="facility-label"></span>	Foundation for Community Studies & Dev.<br />
                            <span class="facility-label"></span>	Friends of UNICEF<br />
                            <span class="facility-label"></span>	HADI Foundation, Philippines<br />
                            <span class="facility-label"></span>	Malaysia Child Resources Institute<br />
                            <span class="facility-label"></span>	Malaysian Institute of Management<br />
                            <span class="facility-label"></span>	Norfil foundation, Philippines<br />
                            <span class="facility-label"></span>	PUPUK, Indonesia<br />
                            <span class="facility-label"></span>	Pusat Penjagaan Kanak-kanak Cacat, Klang<br />
                            <span class="facility-label"></span>	Rumah Ozanam<br />
                            <span class="facility-label"></span>	St. Barnabas Orphanage<br />
                            <span class="facility-label"></span>	Thye Hua Kwan Moral Society, Singapore<br />
                            <span class="facility-label"></span>	UNICEF<br />
                            <span class="facility-label"></span>	Yayasan Salam Malaysia<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>
