﻿@page
@model MHF.Website.Pages.Appreciation20001999Model
@{
    ViewData["Title"] = "Appreciation 2000 & 1999";
}

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 2000 - 1999</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">
    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    Embassies
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>The Canadian High Commission<br />
                            <span class="facility-label"></span>The Japan Embassy<br />                          
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    Ministries, Governmental Departments &amp; Authorities
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Ministry of Finance<br />
                            <span class="facility-label"></span> Ministry of Foreign Affairs<br />
                            <span class="facility-label"></span> Ministry of Defence<br />
                            <span class="facility-label"></span> Ministry of Health<br />
                            <span class="facility-label"></span> Ministry of National Unity &amp; Social Development<br />
                            <span class="facility-label"></span> Ministry of Culture, Art &amp; Tourism<br />
                            <span class="facility-label"></span> Ministry of Human Resources<br />
                            <span class="facility-label"></span> Ministry of Youth &amp; Sports<br />
                            <span class="facility-label"></span> Ministry of Education<br />
                            <span class="facility-label"></span> Arkib Negara Malaysia<br />
                            <span class="facility-label"></span> Auditor General&#39;s Office<br />
                            <span class="facility-label"></span> Balai BOMBA, Bandar Tun Razak<br />
                            <span class="facility-label"></span> Jabatan Kebajikan Masyarakat<br />
                            <span class="facility-label"></span> Department of Occupational, Safety &amp; Health<br />
                            <span class="facility-label"></span> Dewan Bandaraya Kuala Lumpur<br />
                            <span class="facility-label"></span> Institute Pertanian Serdang<br /> 
</tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>Hotels and Clubs</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Concorde Hotel Kuala Lumpur </br>
                            <span class="facility-label"></span> Mingcourt Vista Hotel, Kuala Lumpur</br>
                            <span class="facility-label"></span> Shangri-la Hotel, Kuala Lumpur</br>
                            <span class="facility-label"></span> Shangri-la&#39;s Rasa Sayang Resort,Penang</br>
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />

            <div class="facilities">
                <h2>Institutions</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">

                            <span class="facility-label"></span> Alif Creative Academy <br />
                            <span class="facility-label"></span> Institute of Advertising Communication Training<br />
                            <span class="facility-label"></span> Sekolah Kebangsaan Danau Kota Setapak, Kuala Lumpur<br />
                            <span class="facility-label"></span> Sekolah Menengah Seri Bintang (Utara)<br />
                        </td>

                    </tr>


                </table>
            </div>


            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Individuals</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">


                            <span class="facility-label"></span> Cheah Chor Khiaw <br />
                            <span class="facility-label"></span> Doh Yu Guong<br />
                            <span class="facility-label"></span> Dr. Balwant Singh Bains<br />
                            <span class="facility-label"></span> Helen Ow<br />
                            <span class="facility-label"></span> Jamilah Bt. Selamat<br />
                            <span class="facility-label"></span> John Lim<br />
                            <span class="facility-label"></span> Kazuaki and Sachiko Yamada<br />
                            <span class="facility-label"></span> Khoo Soo Huan<br />
                            <span class="facility-label"></span> Lai Yek Moy<br />
                            <span class="facility-label"></span> Molly Chew<br />
                            <span class="facility-label"></span> Maggie Lee<br />
                            <span class="facility-label"></span> P D. Joachim<br />

                            <span class="facility-label"></span> Peter Lee<br />
                            <span class="facility-label"></span> Rubin Khoo<br />
                            <span class="facility-label"></span> Y Bhg. Puan Sri Datin Seri Susan Cheah<br />
                            <span class="facility-label"></span> Ter Ah Geok<br />
                            <span class="facility-label"></span> Wendy Ee Yok Moi<br />
                            <span class="facility-label"></span> Aisya Amran<br />
                            <span class="facility-label"></span> Annabelle Low<br />
                            <span class="facility-label"></span> Atiqah Nadiah<br />
                            <span class="facility-label"></span> Caroline Leong<br />
                            <span class="facility-label"></span> Chan Ai Lee<br />
                            <span class="facility-label"></span> Chee Gaik Cheng<br />
                            <span class="facility-label"></span> Esther Goh<br />
                            <span class="facility-label"></span> Foo Mei Wen<br />
                            <span class="facility-label"></span> Frorence Kek<br />

                            <span class="facility-label"></span> Goh Gan Li<br />
                            <span class="facility-label"></span> HewKah Ling<br />
                            <span class="facility-label"></span> Jacqueline Williams<br />
                            <span class="facility-label"></span> Lee Shin Lu<br />
                            <span class="facility-label"></span> Lim May Szin<br />
                            <span class="facility-label"></span> Lim Paik Gee<br />
                            <span class="facility-label"></span> Norani Abdul Rahim<br />
                            <span class="facility-label"></span> Norizan Bapoon<br />
                            <span class="facility-label"></span> Nur Aime<br />
                            <span class="facility-label"></span> Nuraidila Razak<br />
                            <span class="facility-label"></span> Nurasyikin Bt. Harun<br />
                            <span class="facility-label"></span> Ophelia Bt. Hasanuddin<br />
                            <span class="facility-label"></span> Pasupathy Murugiah<br />
                            <span class="facility-label"></span> Patricia Ong<br />
                            <span class="facility-label"></span> Roziah Khalid<br />
                            <span class="facility-label"></span> Salmi Azurina<br />
                            <span class="facility-label"></span> Sarah Shalini<br />
                            <span class="facility-label"></span> Shakirah Bt. Mohd Sharif<br />
                            <span class="facility-label"></span> Shaleni Sangaran<br />
                            <span class="facility-label"></span> Simone Loh<br />
                            <span class="facility-label"></span> Siti Mardiana Bt. Mohd Suhaimi<br />
                            <span class="facility-label"></span> Stephanie Hong<br />
                            <span class="facility-label"></span> Sulhaizan Mamat<br />
                            <span class="facility-label"></span> Syafina Z. Sani<br />
                            <span class="facility-label"></span> Ustazah Rohaizan Bt. Ismail<br />
                            <span class="facility-label"></span> Wan Hajar Zuhri<br />
                            <span class="facility-label"></span> Yap Siew Shan<br />
                            <span class="facility-label"></span> Zulnita<br />

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
                  <div class="facilities">
                      <h2>
                          1999: CASH DONORS
                      </h2>
                      <table>
                          <tr>
                              <td class="facilities-a">RM 40,000.00 &amp; above</td>
                              <td class="facilities-b">  <span class="facility-label"></span>Yayasan Lim</td>
                          </tr>
                          <tr>
                              <td class="facilities-a"> RM 20,000.00 &amp; above</td>
                              <td class="facilities-b">
                                  <span class="facility-label"></span>
                                  BSN Commercial Bank (M) Berhad <br />
                                  <span class="facility-label"></span>
                                  Estate of Thean Lit Thong
                              </td>
                          </tr>
                          <tr>
                              <td class="facilities-a"> RM 10,000.00 &amp; above</td>
                              <td class="facilities-b">
                                  <span class="facility-label"></span>
                                  Low Tak Nam <br />

                              </td>
                          </tr>
                          <tr>
                              <td class="facilities-a">RM 5,000.00 &amp; above</td>
                              <td class="facilities-b">

                                  <span class="facility-label"></span> Azure Technologies (M) Sdn Bhd  <br />
                                  <span class="facility-label"></span> B. Braun Medical supplies Sdn Bhd<br />
                                  <span class="facility-label"></span> Malaysia Airports (Sepang) Sdn Bhd<br />
                                  <span class="facility-label"></span> Remedi Pharmaceuticals (M) Sdn Bhd<br />
                              </td>
                          </tr>
                          <tr>
                              <td class="facilities-a">RM 1,000.00 &amp; above</td>
                              <td class="facilities-b">
                                  <span class="facility-label"></span> Ace Synergy Insurance Bhd <br />
                                  <span class="facility-label"></span> CCMB Agrochemicals Sdn Bhd<br />
                                  <span class="facility-label"></span> Chan Kim Beng<br />
                                  <span class="facility-label"></span> Dr. Amarjit Kaur<br />
                                  <span class="facility-label"></span> IBM World Trade Corporation<br />
                                  <span class="facility-label"></span> Jasa Kimia Sdn Bhd<br />
                                  <span class="facility-label"></span> Leong Sek Hong<br />
                                  <span class="facility-label"></span> Lim Siew Khim<br />
                                  <span class="facility-label"></span> Perusahaan otomobil Kedua Sdn Bhd<br />
                                  <span class="facility-label"></span> Petronas Malaysia Berhad<br />
                                  <span class="facility-label"></span> Pharmaforte (M) Sdn Bhd<br />
                                  <span class="facility-label"></span> Raza Jaya Sdn Bhd<br />
                                  <span class="facility-label"></span> Schering-Plough Sdn Bhd<br />
                                  <span class="facility-label"></span> Simone Loh<br />
                                  <span class="facility-label"></span> Syarikat Perniagaan Kemuncak<br />
                                  <span class="facility-label"></span> Syarikat Perniagaan M.S. (M) Sdn Bhd<br />
                                  <span class="facility-label"></span> Telekom Malaysia Berhad<br />
                                  <span class="facility-label"></span> Texchem Consumers Sdn Bhd<br />
                                  <span class="facility-label"></span> Trinity Methodist Church<br />
                                  <span class="facility-label"></span> Unitata Berhad, Jendarata Estate<br />
                              </td>
                          </tr>

                          <tr>
                              <td class="facilities-a">RM 100.00 - RM 999.00</td>
                              <td class="facilities-b">

                                  <span class="facility-label"></span> Amy Chow<br />
                                  <span class="facility-label"></span> Beeton Dickinson Sdn Bhd<br />
                                  <span class="facility-label"></span> Choo Chee Mooi<br />
                                  <span class="facility-label"></span> Choo Kim Huat.<br />
                                  <span class="facility-label"></span> Chua Moi Geck<br />
                                  <span class="facility-label"></span> Country Inns Sdn Bhd<br />
                                  <span class="facility-label"></span> Dr. N Arumugam<br />
                                  <span class="facility-label"></span> Dr. Victor Wee Eng Lye<br />
                                  <span class="facility-label"></span> Farmasi Utama Sdn Bhd<br />
                                  <span class="facility-label"></span> Gan Mei Choo<br />
                                  <span class="facility-label"></span> Geneagles Hospital (KL) Sdn Bhd<br />
                                  <span class="facility-label"></span> Goh Day Way<br />
                                  <span class="facility-label"></span> Jenny Ooi Poh Choo<br />
                                  <span class="facility-label"></span> Jimmy Chan<br />
                                  <span class="facility-label"></span> Kajang Medical Centre Sdn Bhd<br />
                                  <span class="facility-label"></span> Lazuli Corporation Sdn Bhd<br />

                                  <span class="facility-label"></span> Lee Charm Nam<br />
                                  <span class="facility-label"></span> Lee Ong &amp; Kandiah<br />
                                  <span class="facility-label"></span> Leong Lai Choo<br />
                                  <span class="facility-label"></span> Lim Mong Seng<br />
                                  <span class="facility-label"></span> Loh Kam Tuck<br />
                                  <span class="facility-label"></span> Loke Poh Choo<br />
                                  <span class="facility-label"></span> Low Suet Wah<br />
                                  <span class="facility-label"></span> Mabel Wee Swee Hin<br />
                                  <span class="facility-label"></span> Mah-Kamariah &amp; Partners<br />
                                  <span class="facility-label"></span> Shantini Appathurai<br />
                                  <span class="facility-label"></span> Mulasi Sreedharan<br />
                                  <span class="facility-label"></span> Nafas Bajakimia Sdn Bhd<br />
                                  <span class="facility-label"></span> Ng Chin Hu<br />
                                  <span class="facility-label"></span> Patricia Joseph<br />
                                  <span class="facility-label"></span> PNSB Acmar Sdn Bhd<br />
                                  <span class="facility-label"></span> Quah Teow Puan<br />
                                  <span class="facility-label"></span> Royal &amp; Sun Alliance Insurance (M) S/B<br />
                                  <span class="facility-label"></span> Sankee Construction Sdn Bhd<br />
                                  <span class="facility-label"></span> Song Kin San<br />
                                  <span class="facility-label"></span> Syntrade Trading<br />
                                  <span class="facility-label"></span> Tan Jay See<br />
                                  <span class="facility-label"></span> Tan Jin Chin<br />
                                  <span class="facility-label"></span> Tan Wooi Sean<br />
                                  <span class="facility-label"></span> Teamwork Corporation Sdn Bhd<br />
                                  <span class="facility-label"></span> Tiong Mun Lin<br />
                                  <span class="facility-label"></span> Vecoc Aluminium Sdn Bhd<br />
                                  <span class="facility-label"></span> Vision Broadcast Facilities Sdn Bhd<br />
                                  <span class="facility-label"></span> Wong Heng Electrical<br />
                                  <span class="facility-label"></span> Wong Jiann Huei<br />
                                  <span class="facility-label"></span> Wong Liong Cha<br />
                                  <span class="facility-label"></span> Wong Peng Soon<br />
                              </td>
                          </tr>

                      </table>
                  </div> 
        </div>
    </div>

</section>

