﻿@page
@model MHF.Website.Pages.Appreciation2003Model
@{
    ViewData["Title"] = "Appreciation2003";
}

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 2003</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">
    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    National Conference on Disaster Relief 2003 Supported by
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>Ministry of National Unity & Social Development<br />
                            <span class="facility-label"></span>Ministry of Culture, Art & Tourism<br />
                            <span class="facility-label"></span>Ministry of Education<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    Working Committee from the Ministry of National Unity and Social Development
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b"> 
                            <span class="facility-label"></span>YB. Dato' Dr. Hajah Siti Zaharah binti<br />
                            <span class="facility-label"></span>Haji Sulaiman, Menteri Perpaduan Negara dan Pembangunan Masyarakat<br />
                            <span class="facility-label"></span>Y.B. Dr. Tiki Lafe, Timbalan Menteri Perpaduan Negara dan Pembangunan Masyarakat<br />
                            <span class="facility-label"></span>Y.B. Dato' S. Veerasingam, Setiausaha Parlimen, Kementerian Perpaduan Negara dan Pembangunan Masyarakat(KPNPM)<br />
                            <span class="facility-label"></span>Y.Bhg.Dato' Dr. P Manogran, Ketua Setiausaha, KPNPM<br />
                            <span class="facility-label"></span>Y.Bhg. Dato' Haji Ahmad Saleh bin Haji Sarif, Timbalan Ketua Setiausaha KPNPM<br />
                            <span class="facility-label"></span>Puan Hajah Shamsiah bt Abd Rahman, Ketua Pengarah, Jabatan Kebajikan Masyarakat Malaysia<br />
                            <span class="facility-label"></span>Y.Bhg. Dato' Abdul Rashid bin Sa'ad, Ketua Pengarah, Jabatan Perpaduan Negara<br />
                            <span class="facility-label"></span>Puan Hajah Norzan bt. Mohd. Akib, Pengarah Institute Sosial Malaysia<br />
                            <span class="facility-label"></span>Tuan Haji Mohd Kodri Hj. Omar, Timbalan Ketua Pengarah (Perancangan dan Dasar, JKM)<br />
                            <span class="facility-label"></span>Encik Azman Amin Hassan, Timbalan Ketua Pengarah (Operasi) JPN<br />
                            <span class="facility-label"></span>Encik lsbah bin Idrus, Setiausaha Bahagian (TSK)<br />
                            <span class="facility-label"></span>Encik Harrith bin Abdul Karim, Setiausaha Bahagian (PPPP)<br />
                            <span class="facility-label"></span>Cik Aireen Ahmad Shahuddin, Setiausaha Akhbar Y B. Menteri<br />
                            <span class="facility-label"></span>Puan Zaison bt Hussain, Ketua Penolong Setiausaha (D)<br />
                            <span class="facility-label"></span>Encik Inau Edin Nom, Ketua Penolong Setiausaha (R)<br />
                            <span class="facility-label"></span>Tuan Haji Shafie b Jusch, Ketua Penolong Setiausaha (S)<br />
                            <span class="facility-label"></span>Encik Othman b. Mustapha, Ketua Penolong Setiausaha (T)<br />
                            <span class="facility-label"></span>Encik Wan Ramli b. Wan Daud, Ketua Penolong Setiausaha (K)<br />
                            <span class="facility-label"></span>Tuan Haji Nasir b. Abu Samah, Ketua Penolong Setiausaha (B)<br />
                            <span class="facility-label"></span>Puan Rubaayah bt. Osman, Pegawai Perhubungan Awam<br />
                            <span class="facility-label"></span>Encik Harun bin Ramli, SUSK Kepada Y.B. Menteri<br />
                            <span class="facility-label"></span>Encik Ismail bin Omar, Setiausaha politik YB, Menteri<br />
                            <span class="facility-label"></span>Puan Amy Bala (JKM)<br />
                            <span class="facility-label"></span>Mr. Pillai (JKM)<br />
                            <span class="facility-label"></span>Mr. Gandesan (JPN)<br />
                            <span class="facility-label"></span>Urusetia (5 persons) , Kementerian Perpaduan Negara dan Pembangunan Masyarakat<br />
                            <span class="facility-label"></span>Liaison Officers (9 persons)<br />
                            <span class="facility-label"></span>Drivers (6 persons)<br />
                            <span class="facility-label"></span>Personal security officers (6 persons)<br />
                            <span class="facility-label"></span>Pilot Riders (5 persons)<br />
                            <span class="facility-label"></span>PDRM (1 person)<br />
                            <span class="facility-label"></span>Imigresen (MAB) - 2 persons<br />
                            <span class="facility-label"></span>Bahagian Istiadat (JPM)-1 person<br />
                            <span class="facility-label"></span>Kastam - 1 person<br />
                            <span class="facility-label"></span>Wisma Putra - 1 person<br />

                    
                            </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>Advisors</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Asian Strategy & Leadership Institute(ASLI) <br />
                            <span class="facility-label"></span>
                            LimKokwing Institute of Creative <br />
                            <span class="facility-label"></span>
                            Technology (LICT) <br />
                            <span class="facility-label"></span>
                            Star Publication (M) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Pertubuhan Berita Nasional Malaysia (BERNAMA) <br />
                            <span class="facility-label"></span>
                            PricewaterhouseCoopers <br />
                            <span class="facility-label"></span>
                            United Nations Association Malaysia <br />
                            <span class="facility-label"></span>
                            United Nations Children's Fund (UNICEF) <br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />

            <div class="facilities">
                <h2>Main Sponsors in kind-full or partial</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Carrefour <br />
                            <span class="facility-label"></span>
                            The Chicken Rice Shop<br />
                            <span class="facility-label"></span>
                            Jusco <br />
                            <span class="facility-label"></span>
                            Malaysian Philharmonic Orchestra <br />
                            <span class="facility-label"></span>
                            MMT (Malaysia) Sdn Bhd <br />
                            <span class="facility-label"></span>
                            Pelanduk Publications (M) Sdn Bhd<br />
                            <span class="facility-label"></span>
                            Park May Berhad<br />
                            <span class="facility-label"></span>
                            Royal Selangor Pewter<br />
                            <span class="facility-label"></span>
                            WOW FM<br />
                            <span class="facility-label"></span>
                            Warner Music (M) Sdn Bhd<br />
                        </td>

                    </tr>


                </table>
            </div>


            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Co-sponsor in kind-full or partial</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Aunty Anne's <br />
                            <span class="facility-label"></span>
                            Aunty Nat<br />
                            <span class="facility-label"></span>
                            Ayam Nor <br />
                            <span class="facility-label"></span>
                            Burger King <br />
                            <span class="facility-label"></span>
                            Dave's Deli <br />
                            <span class="facility-label"></span>
                            McDonald's<br />
                            <span class="facility-label"></span>
                            MCFF<br />
                            <span class="facility-label"></span>
                            Nestle (M) Berhad<br />
                            <span class="facility-label"></span>
                            San Francisco Steakhouse<br />
                            <span class="facility-label"></span>
                            Secret Recipe<br />
                            <span class="facility-label"></span>
                            Sushi King

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Project Organising Committee</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            YB Dato' Dr. Siti Zaharah bt Haji Sulaiman (Chairperson) <br />
                            <span class="facility-label"></span>
                            Y. Bhg. Tan Sri Dato' Ajit Singh (Executive Vice Chairperson)<br />
                            <span class="facility-label"></span>
                            Y. A. Bhg. Tun Mohammed Hanif b. Omar (Deputy Chair, Exhibition)<br />
                            <span class="facility-label"></span>
                            Y. Bhg.M. Tengku Tan Sri Dato' SeriAhmad Rithaudden (Deputy Chair, Dinner) <br />
                            <span class="facility-label"></span>
                            Y.A.Bhg. Datuk Amar Puan Sri (Dr.) Hajjah Laila Taib Sri (Fundraising & Sponsorship) <br />
                            <span class="facility-label"></span>
                            Y.Bhg. Datuk Paduka Dr. Saleh Mohd Ali (Fundraising & Sponsorship) <br />
                            <span class="facility-label"></span>
                            Y.Bhg. Dr Goh Cheng teik (Programme & Content)<br />
                            <span class="facility-label"></span>
                            Y.Bhg. Tan Sri Datuk Clifford F. Herbert (Accountability & Impact)<br />
                            <span class="facility-label"></span>
                            Y.Bhg. Tan Sri Dato' Elyas Omar (Public & Government Relations)<br />
                            <span class="facility-label"></span>
                            Y.Bhg. Datuk Datin Paduka Ruby Lee (Local NGO Relations)<br />
                            <span class="facility-label"></span>
                            Y.Bhg. Puan Sri Siew Yong Gnanalingam (Media Relations)<br />
                            <span class="facility-label"></span>
                            Y.Bhg. Datuk Dr. Ian Chia (Rapporteur Relations)<br />
                            <span class="facility-label"></span>
                            Y.Bhg. Dr.Maxine Olson (Information & Documentation)<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>ASEAN Ministers responsible for social welfare</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            BRUNEI DARUSSALAM : H.E Pehin Dato' Haji Awang Hussain bin Pehin Dato Haji Awang Mohd Yusof, Minister of Culture, Youth & Sports <br />
                            <span class="facility-label"></span>
                            CAMBODIA : H.E Mr. Ith Sam Heng, Mininster In Charge of the Ministry In Social Affairs, Labour,Vocational Training  and Youth Rehabilitation<br />
                            <span class="facility-label"></span>
                            INDONESIA : H.E. Mr. Jusuf Kalla, Coordinating Minister for People's Welfare<br />
                            <span class="facility-label"></span>
                            LAO PDR : H.E. Mr. Somphanh Phengkhammy, Minister for Labour and Social Welfare <br />
                            <span class="facility-label"></span>
                            MYANMAR : H.E. Major General Sein Htwa Minister for Social Welfare, Relief and Resettlement <br />
                            <span class="facility-label"></span>
                            PHILIPPINES : H.E. Ms. Corazon Juliano-Sollman, Secretary, Department of Social Welfare and Development <br />
                            <span class="facility-label"></span>
                            SINGAPORE : H.E. Professor Yaacob Ibrahim, Minister for Community Development and Sports<br />
                            <span class="facility-label"></span>
                            THAILAND : H E. Mr. Anurak Chureemas, Minister of Social Development and Human Security<br />
                            <span class="facility-label"></span>
                            VIETNAM : Mdm. Nguyen Thi Hang, Minister of Labour, invalids and Social affairs<br />
                            <span class="facility-label"></span>
                            The ASEAN Secretariat : H E. Mr. Ong Keng Yong, Secretary General<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>NGOs Representative from ASEAN countries</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            BRUNEI DARUSSALAM : Tuan Haji Zainal Abidin bin Penghulu Hj Ibrahim, National Chief Negara Persekutuan Pengakap Brunei Darussalam <br />
                            <span class="facility-label"></span>
                            Dyg Hajah Samsiah Binti OKPSD Abang Haji Abu Hanifah Kertini, Deputy Chief Commissioner, Girl Guides Association of Brunei Darussalam <br />
                            <span class="facility-label"></span>
                            INDONESIA : Dr. Joserizal Jurnalis, Chairman of The Presidium, MER C (Medical Emergency Rescue Committe<br />
                            <span class="facility-label"></span>
                            Teguh Eko Paripurno, Member of the Board of Trustee, KAPPALA<br />
                            <span class="facility-label"></span>
                            PHILIPPINES : -	Ms. Merlie B. Mendoza, Executive Coordinator, Tabang Mindanaw <br />
                            <span class="facility-label"></span>
                            Ms. Marieta Lupig Alcid, Programme Officer, Corporate Network for Disaster Response <br />
                            <span class="facility-label"></span>
                            SINGAPORE : Ms. Ang Siok Hui, Director, Humanitarian Relief Programme, Singapore International Foundation<br />
                        </td>

                    </tr>


                </table>
            </div>



        </div>
    </div>

</section>
