﻿@page
@model MHF.Website.Pages.Appreciation1999To1997Model
@{
    ViewData["Title"] = "Appreciation 1999, 1998 &amp; 1997";
}

 

<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">APPRECIATION </span>AND THANKS 1999, 1998 &amp; 1997</h1>
            </div>
        </div>
    </div>
</section>
<section class="gallery sec-padd style-2">

    <div class="section-title center">
        <h1> <span class="thm-color">1999  </span>SPONSORS-IN-KIND</h1>
    </div>

    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    Corporations
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">

                            <span class="facility-label"></span> Azure Technologies (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Batu Road Supermarket Sdn Bhd<br />
                            <span class="facility-label"></span> Berjaya Singer (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Bintang Supermarket (PJ) Sdn Bhd<br />
                            <span class="facility-label"></span> BSN Commercial Bank Berhad<br />
                            <span class="facility-label"></span> Cygnet Academy<br />
                            <span class="facility-label"></span> Desa Water Theme Park<br />
                            <span class="facility-label"></span> English Hotbreads (M) Sdn Bhd<br />
                            <span class="facility-label"></span> ESH (Puchong) Sdn Bhd<br />
                            <span class="facility-label"></span> Excapt Services Sdn Bhd<br />
                            <span class="facility-label"></span> Garisan Dimensi (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Himawari (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Hong Kong Sa Sa(M) Sdn Bhd<br />

                            <span class="facility-label"></span> IBM World Trade Corporation<br />
                            <span class="facility-label"></span> Jaya Jusco Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span> K.Yip Associates Sdn Bhd<br />
                            <span class="facility-label"></span> K. Bee Marketing (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Himawari (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Hong Kong Sa Sa<br />
                            <span class="facility-label"></span> (M) Sd<br />
                            <span class="facility-label"></span> Trade Corporation<br />
                            <span class="facility-label"></span> Jaya Jusco Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span> Yip Associates Sdn Bhd<br />
                            <span class="facility-label"></span> Lian Bee Marketing (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Lotus sales &amp; Services Sdn Bhd<br />
                            <span class="facility-label"></span> Low Yat Group Sdn Bhd<br />
                            <span class="facility-label"></span> Malayan Banking Berhad<br />
                            <span class="facility-label"></span> Malaysian Pharmaceutical society<br />
                            <span class="facility-label"></span> Microsoft (M) Sdn hd<br />
                            <span class="facility-label"></span> MPH Bookstores Sdn Bhd<br />
                            <span class="facility-label"></span> MUI Continental Insurance Berhad<br />
                            <span class="facility-label"></span> Multi-Expo Systems (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Nationwide Express Courier Services Bhd<br />
                            <span class="facility-label"></span> Natural Connection<br />
                            <span class="facility-label"></span> Nestle Products Sdn Bhd<br />
                            <span class="facility-label"></span> Network Foods Industries Sdn Bhd<br />
                            <span class="facility-label"></span> Promtech Marketing<br />
                            <span class="facility-label"></span> PT Mustika Ratu (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Puppetshoulder Danceworks<br />
                            <span class="facility-label"></span> Radio Malaysia Saluran 4<br />
                            <span class="facility-label"></span> Reka Wira Sdn Bhd<br />
                            <span class="facility-label"></span> Rembak Danz Entertainment<br />
                            <span class="facility-label"></span> Schlotzsky&#39;s Deli (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Sime AXA Assurance Berhad<br />
                            <span class="facility-label"></span> Star Publications (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Sungei Wang Plaza Sdn Bhd<br />
                            <span class="facility-label"></span> syarikat Chin Trading Electrical<br />
                            <span class="facility-label"></span> Telekom Malaysia Berhad<br />
                            <span class="facility-label"></span> Television Airtime Services Sdn Bhd<br />
                            <span class="facility-label"></span> TGI Fridays<br />
                            <span class="facility-label"></span> Unilever (M) Holdings Sdn Bhd<br />
                            <span class="facility-label"></span> Wata Time (M) Sdn Bhd<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    Hotels and Clubs
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">

                            <span class="facility-label"></span> Concorde Hotel Kuala Lumpur<br />
                            <span class="facility-label"></span> Crown Princess Hotel Kuala Lumpur<br />
                            <span class="facility-label"></span> Dorsett Regency Kuala Lumpur<br />
                            <span class="facility-label"></span> Grand Central Hotel<br />
                            <span class="facility-label"></span> Kelab Golf Perkhidmatan Awam Malaysia<br />
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>Universities</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">

                            <span class="facility-label"></span> Universiti Malaysia Sabah<br />
                            <span class="facility-label"></span> Universiti Malaysia Sarawak<br />

                            <span class="facility-label"></span> Universiti Teknologi Petronas<br />
                            <span class="facility-label"></span> Universiti Tenaga National<br />
                            <span class="facility-label"></span> Universiti Teknologi Mara<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />

            <div class="facilities">
                <h2>Colleges</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">

                            <span class="facility-label"></span> In-House Graphic Design Sdn Bhd<br />
                            <span class="facility-label"></span> LaSalle International Design School (KL)<br />
                            <span class="facility-label"></span> LimKokWing Institute of Creative Technology<br />
                            <span class="facility-label"></span> School of Engineering and Information Technology<br />
                        </td>

                    </tr>


                </table>
            </div>


            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Ministries</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">


                            <span class="facility-label"></span> Ministry of Culture, Art &amp; Tourism <br />
                            <span class="facility-label"></span> Ministry of Education <br />
                            <span class="facility-label"></span> Ministry of Health <br />
                            <span class="facility-label"></span> Ministry of National Unity and Social Development <br />

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Embassies</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> The Canadian High Commission<br />
                            <span class="facility-label"></span> Embassy of the Republic of Philippines<br />
                            <span class="facility-label"></span> Royal Thai Embassy<br />
                            <span class="facility-label"></span> Embassy of the Republic of Indonesia<br />
                            <span class="facility-label"></span> Embassy of the Islamic Republic of Iran<br />

                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Non-Government Organisations</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Dover Park Hospice, Singapore<br />
                            <span class="facility-label"></span> Malaysian Red Crescent Society<br />
                            <span class="facility-label"></span> National Council of Social Service, Singapore<br />
                            <span class="facility-label"></span> St. John&#39;s Ambulance Malaysia<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Associations</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> The Alice Smith Schools Association<br />
                            <span class="facility-label"></span> The Association of Chartered Certified Accountants<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />
            <div class="facilities">
                <h2>Individuals</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Bhavani Rajaretnam<br />
                            <span class="facility-label"></span> Carol Lee Lin Foong<br />
                            <span class="facility-label"></span> Dr. In Sip Choo<br />
                            <span class="facility-label"></span> Hoh Thiam Hii<br />
                            <span class="facility-label"></span> Mary Tan<br />
                        </td>

                    </tr>


                </table>
            </div>

            <div class="clear"></div>

            <br /><br />

            <div class="facilities">
                <h2>
                    1998: CASH DONORS
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM 1,000,000.00 &amp; above</td>
                        <td class="facilities-b">  <span class="facility-label"></span>MUI Plaza Sdn Bhd</td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 500,000.00 &amp; above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            Selangor Turf Club <br />

                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a"> RM 250,000.00 &amp; above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span>
                            K &amp; N Kenanga Sdn Bhd <br />

                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM 100,000.00 &amp; above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Cellular Communications Network(M) Sdn Bhd<br />
                            <span class="facility-label"></span> HLG Securities Sdn Bhd<br />
                            <span class="facility-label"></span> Kelang Multi Terminal Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM 20,000.00 &amp; above</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> BSN Commercial Bank (M) Berhad<br />

                        </td>
                    </tr>

                    <tr>
                        <td class="facilities-a">RM 10,000.00 &amp; above</td>
                        <td class="facilities-b">

                            <span class="facility-label"></span> Bintulu Port Sdn Bhd<br />
                            <span class="facility-label"></span> Henry Teh Kok Kheng<br />
                            <span class="facility-label"></span> Hwang-DBS Securities Sdn Bhd<br />
                            <span class="facility-label"></span> Plaza Damansara Sdn Bhd<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="facilities-a">RM 100.00 RM 999.00</td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Choy Lin Williams<br />
                            <span class="facility-label"></span> Lee Ah Kong<br />
                            <span class="facility-label"></span> Lee Kok Cheong<br />
                            <span class="facility-label"></span> Trinity Methodist Church<br />
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>


    <div class="section-title center">
        <h1> <span class="thm-color">1998  </span>SPONSORS-IN-KIND</h1>
    </div>

    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    Corporations
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Amazing Castle (Red Tomato)<br />
                            <span class="facility-label"></span> Betarecs Sdn Bhd<br />
                            <span class="facility-label"></span> Golf Pride Sdn Bhd<br />
                            <span class="facility-label"></span> IBM World Trade Corporation<br />
                            <span class="facility-label"></span> JobStreet Malaysia Bhd<br />
                            <span class="facility-label"></span> Nobel Inspirations Sdn Bhd<br />
                            <span class="facility-label"></span> Remedi Pharmaceutical (M) Sdn Bhd<br />
                            <span class="facility-label"></span> Royal Selangor Club<br />
                            <span class="facility-label"></span> Star Publications (M) Sdn Bhd<br />
                            <span class="facility-label"></span> The New Straits Times Press (M) Berhad<br />
                            <span class="facility-label"></span> Utusan Media Sales Sdn Bhd<br />
                            <span class="facility-label"></span> Wyeth (M) Sdn Bhd<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>
                    Non-Governmental organisations
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Cancerlink Foundation<br />
                            <span class="facility-label"></span> Malaysian Red Crescent Society<br />
                            <span class="facility-label"></span> St. John Ambulance of Malaysia<br />
                            <span class="facility-label"></span> Ti-Ratna Welfare Centre<br />
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
            <div class="facilities">
                <h2>Individuals</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Afridah Abdul Hamid<br />
                            <span class="facility-label"></span> Dr. Amarjit Kaur<br />
                            <span class="facility-label"></span> Bhavani Rajaratnam<br />
                            <span class="facility-label"></span> Cheong Pak Yin<br />
                            <span class="facility-label"></span> Choy Nee Hoh Poh Lin<br />
                            <span class="facility-label"></span> Y. Bhg. Datin Hamidah Choong bte. Abdullah<br />
                            <span class="facility-label"></span> Kirat Singh<br />
                            <span class="facility-label"></span> Koh Hui Gek<br />
                            <span class="facility-label"></span> Lily Kung<br />
                            <span class="facility-label"></span> Lim Yew Hock<br />

                            <span class="facility-label"></span> Patricia Jurak<br />
                            <span class="facility-label"></span> Premmalini Poosparajah<br />
                            <span class="facility-label"></span> Shantini Appathurai<br />
                            <span class="facility-label"></span> Simone Loh<br />
                            <span class="facility-label"></span> Teh Ah Moi<br />
                            <span class="facility-label"></span> Trudy Wu<br />
                            <span class="facility-label"></span> Karina Yong<br />
                        </td>

                    </tr>


                </table>
            </div>


            <div class="facilities">
                <h2>
                    1997: CASH DONORS
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a">RM 10,000.00</td>
                        <td class="facilities-b">  <span class="facility-label"></span>Malaysian University of Southern California Alumni</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="section-title center">
        <h1> <span class="thm-color">1997  </span>SPONSORS-IN-KIND</h1>
    </div>

    <div class="container">
        <div class="content-wrapper">
            <div class="facilities">
                <h2>
                    Corporations
                </h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Bell Communications Sdn Bhd<br />
                            <span class="facility-label"></span> Easycall Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span> Images of the East Sdn Bhd<br />
                            <span class="facility-label"></span> JobStreet Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span> Metro Engravers Sdn Bhd<br />
                            <span class="facility-label"></span> Microsoft Malaysia Sdn Bhd<br />
                            <span class="facility-label"></span> Percetakan Lai Sdn Bhd<br />
                            <span class="facility-label"></span> Petronas Dagangan Berhad<br />
                            <span class="facility-label"></span> Photomania-Korea Co. Inc.<br />
                            <span class="facility-label"></span> Sampoorna Holdings Sdn Bhd<br />
                            <span class="facility-label"></span> Star Publications (M) Sdn Bhd<br />
                            <span class="facility-label"></span> The Image Bank Sdn Bhd<br />
                            <span class="facility-label"></span> The Media Shoppe Sdn Bhd<br />
                            <span class="facility-label"></span> The New Straits Times Press (M) Berhad<br />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>

            <br /> <br />
           
            <div class="facilities">
                <h2>Individuals</h2>
                <table>
                    <tr>
                        <td class="facilities-a"></td>
                        <td class="facilities-b">
                            <span class="facility-label"></span> Bok Tai Siew<br />
                            <span class="facility-label"></span> Loh Thuck Lim<br />
                          
                        </td>

                    </tr>


                </table>
            </div> 
        </div>
    </div>

</section>



