﻿@page
@model MHF.Website.Pages.BoardOfManagementModel
@{
    ViewData["Title"] = "BoardOfManagement";
}



<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">BOARD</span> OF MANAGEMENT</h1>

            </div>
        </div>
    </div>
</section>


<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            <div class="section-title left">
                <h1><u>TRUSTEES</u></h1>
                <br />
                <h4>Y. Bhg. Tan Sri Datuk Dr. Johari b. Mat</h4>
                <h4>Y. Bhg. Tan Sri Dato’ Kamaruzzaman b. Shariff</h4>
                <h4>Y. Bhg. Tan Sri Dato’ (Dr.) Lim Kok Wing</h4>
                <h4>Y. Bhg. Professor Tan Sri Dato’ Dr. Khoo Kay Kim</h4>
                <h4>Y. Bhg. Tan Sri Datuk Wira Mohd. Salleh b. Sulong</h4>
                <h4>Y. Bhg. Tan Sri Dato’ Ajit Singh</h4>
                <h4>Y. Bhg. Dato’ Nik Mod Amin b. Nik Abd Majid</h4>
                <h4>Y. Bhg. Dato’ Mohd Hilmey b. Mohd Taib</h4>
                <h4>Y. Bhg. Dato Khalid b. Ahmad</h4>
                <h4>Y. Bhg. Datuk Dr. Mohd Ghazali b. Mohd Noor</h4>
            </div>
            <div class="section-title left">
                <h1><u>MANAGEMENT</u></h1>
                <br />
                <h4>Mr. Henry Teh (Executive Director) </h4>
            </div>

        </div>
    </div>
</section>

<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            <div class="section-title center">
                <h1> <span class="thm-color">PART</span>NERS</h1>
            </div>
            <br />
            <h1>
                United Way Worldwide (UWW)
            </h1>
            <div>
                <br />
                <p>
                    United Way has its humble beginnings in 1887 and in 2009 became known as United Way Worldwide (UWW). It is now present in 41 countries globally, with 1,800 local United Way organizations located worldwide. The movement as a whole successfully raised USD 5,110,000,000 during the period of 2008-2009 and is the 25th most valuable brand in the world.
                </p>
                <br />
                <p>
                    The vision of UWW is a world where all individuals and families achieve their human potential through education, income stability and healthy lives. Its mission is to improve lives by mobilizing the caring power of communities around the world to advance the common good.
                </p>
                <br />
                <p>
                    The work of UWW is focused on the three (3) building blocks for a good life, namely in areas of education, income and health.
                </p>
                <br />
                <p>
                    UWW subscribes to a set of Global Standards which covers areas of community impact, volunteerism, resource mobilization, governance, financial accountability, reputation and relationships and operations and management.
                </p>
                <br />
                <p>
                    UWW works with companies through the United Way Global Corporate Leadership (GCL) program, which enhances a company’s ability to impact communities around the world through strategic philanthropic partnerships leveraging UWW’s global reach and local leadership in communities worldwide.
                </p>
            </div>
        </div>
    </div>
</section>

