﻿@page
@model MHF.Website.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
}

<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            <div class="section-title center">
                <h1> <span class="thm-color">HIS</span>TORY</h1>
            </div>
            <div>
                <br />
                <p>
                    Voluntary works which were organised during the colonial era by some organisation were basically racial, communal and religious based, established solely to cater for one particular race or community.
                </p>
                <br />
                <p>
                    Prior to the Second World War, efforts to care for the aged or destitute and the protection of orphans and for the visually handicapped were largely funded by public and private donations. The Government then has no specific welfare agency to deal with such matters. However, the labour department in the various states and the Chinese dealt with the suppression of trafficking and the protection of women and girls from exploitation as well as with the various problems relating to immigrants from China and India.
                </p>
                <br />
                <p>
                    The forerunner of a non-racial and non-communal voluntary social welfare organisation then could be the Central Welfare Council which was formed immediately after the end of the War. The council hid its beginning as the All Malayan welfare Council with a conglomeration of representatives drawn from Government.
                </p>
                <br />
            </div>
            <br />
            <h3>
                History of volunteerism in Malaysia and MHF
            </h3>
            <div>
                <br />
                <p>
                    The growth of charitable organisations was rapid especially after Malaysia gained its independence.
                </p>
                <br />
                <p>
                    The progressive growth of these charitable organisations augurs well with the Malaysian Government’s vision of establishing a fully caring society by 2020. The government alone will not be able to meet the various needs of special people as we move into the challenging millennium. This has to be recognised and appreciated by all especially in the private sector who should also do their bit in caring for the society.
                </p>
                <br />
                <p>
                    Charitable or voluntary organisations are also a good platform for individuals who want to actively participate in community and social works. These good Samaritans would have a proper outlet to channel their energy and efforts in doing kind deeds for the special people. In so doing, they will also benefit in terms of self- development in communication and social skills.
                </p>
                <br />
                <p>
                    The Malaysian Humanitarian (MH) which launched on 17 December 1997 promoted the strengthening of a caring culture and society. The foundation has taken onto itself the task to be a catalyst for greater understanding, appreciation, care and unity in the Malaysian society.The foundation's humanitarian and voluntary programmes go beyond cultural, religious and social divides.
                </p>
                <br />
                <p>
                    Since its launch, the Foundation concentrates on two integrated projects, are, MHf Referral- Humanitarian Services and MHf- Institute Humanitarian Institute.
                </p>
                <br />
            </div>
            <h3>
                WHAT IS MHF?
            </h3>
            <div>
                <br />
                <p>
                    MHf is a community clearing house organization dedicated to assist the Malaysian community at large to obtain funding support while providing support services to NGOs.
                </p>
                <br />
            </div>

            <h3>
                WHY MHF?
            </h3>
            <div>
                <br />
                <p>
                    After research was made, MHf have identified that there is a community coordination enhancement role possibility that we are able to play and contribute towards. MHf found that one of the biggest challenges for NGOs are in the areas of consistent funding support while trying to provide professional care for those that are lesser fortunate. MHf decided to position itself as the community clearing house and wanting to focus on the concept and the implementation of the community chest. This is based on the understanding that the government will support MHf over time. This is also after MHf is able to garner the necessary relationships with the NGos as well as to understand the true needs and requirements of the NGOs and the Government.
                </p>
                <br />
                <p>
                    The community chest initiative that we call Humanitarian Fund allows individuals and corporates to Donate NGos individuals that are in need of funds. The funds donated will be tracked regularly while we will be able to provide some form of key performance indicators for the donors (KPIs). The humanitarian fund is another opportunity/platform for donors to select as some donors may wish to know how their funds are utilized and that the impacts of some sorts are established and managed by a professional party that understands the needs and requirements of both the donor and the recipient.
                </p>
                <br />
            </div>

        </div>
    </div>
</section>
