﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="fade">
                <img src="~/Template/Humanity/images/slider/hand.jpg" alt="" width="1920" height="888" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="10"
                     data-y="top" data-voffset="160"
                     data-responsive_offset="on"
                     data-start="60">
                    <div class="section-title center">
                        <img src="~/Template/Humanity/images/logo/MHFText.png" />
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="~/Template/Humanity/images/slider/tangan.jpg" alt="" width="1920" height="580" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="10"
                     data-y="top" data-voffset="160"
                     data-responsive_offset="on"
                     data-start="60">
                    <div class="section-title center">
                        <img src="~/Template/Humanity/images/logo/MHFText.png" />
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="~/Template/Humanity/images/slider/sticky.jpg" alt="" width="1920" height="580" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="10"
                     data-y="top" data-voffset="160"
                     data-responsive_offset="on"
                     data-start="60">
                    <div class="section-title center">
                        <img src="~/Template/Humanity/images/logo/MHFText.png" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
<br />
<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/kids.png);">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">OUR</span> MISSION</h1>
                <p>
                    The Malaysian Humanitarian Foundation envisions a nation where all individuals and <br />families achieve their human potential through education, healthy <br />lives and income stability
                </p>
            </div>
            <div class="section-title center">
                <h1> <span class="thm-color">OUR </span> VISION</h1>
                <p>
                    To improve lives by strengthening the presence of the caring culture in our community.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="about-2 sec-padd3">
    <div class="container">
        <div class="section-title center">
            <h1> <span class="thm-color">OUR </span> UPDATES</h1>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/1.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-people"></span></div>
                            <div class="text">
                                <h4>Support Peoples</h4>
                                <p>Be Good to People</p>
                            </div>
                        </div>
                        <p>All children are our future. They all deserve our love. Join us to feed, teach, protect, and nurture children in America...</p>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/2.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-animals"></span></div>
                            <div class="text">
                                <h4>Save Wild Animals</h4>
                                <p>Live and Let Live</p>
                            </div>
                        </div>
                        <p>Who loves or pursues or desires to obtain pain of itself, because it is all pain, but occasionally circumstances occur which toil...</p>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/3.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-nature"></span></div>
                            <div class="text">
                                <h4>Save Our Planet</h4>
                                <p>Stop Destroying</p>
                            </div>
                        </div>
                        <p>Pleasure and praising pain was born and I will give you a complete account of the ut system  expound the actual teachings...</p>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/4.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-nature"></span></div>
                            <div class="text">
                                <h4>Save Our Planet</h4>
                                <p>Stop Destroying</p>
                            </div>
                        </div>
                        <p>Pleasure and praising pain was born and I will give you a complete account of the ut system  expound the actual teachings...</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/5.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-people"></span></div>
                            <div class="text">
                                <h4>Support Peoples</h4>
                                <p>Be Good to People</p>
                            </div>
                        </div>
                        <p>All children are our future. They all deserve our love. Join us to feed, teach, protect, and nurture children in America...</p>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/6.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-animals"></span></div>
                            <div class="text">
                                <h4>Save Wild Animals</h4>
                                <p>Live and Let Live</p>
                            </div>
                        </div>
                        <p>Who loves or pursues or desires to obtain pain of itself, because it is all pain, but occasionally circumstances occur which toil...</p>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/7.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-nature"></span></div>
                            <div class="text">
                                <h4>Protect Our Planet</h4>
                                <p>Stop Destroying</p>
                            </div>
                        </div>
                        <p>Pleasure and praising pain was born and I will give you a complete account of the ut system  expound the actual teachings...</p>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-box"><img src="~/Template/Humanity/images/Updates/8.jpg" alt=""></div>
                    <div class="content">
                        <div class="clearfix">
                            <div class="icon_box"><span class="icon-nature"></span></div>
                            <div class="text">
                                <h4>Protect Our Planet</h4>
                                <p>Stop Destroying</p>
                            </div>
                        </div>
                        <p>Pleasure and praising pain was born and I will give you a complete account of the ut system  expound the actual teachings...</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="button center">
            <a class="thm-btn" href="#">Read more</a>
        </div>
    </div>
</section>
