﻿@page
@model MHF.Website.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}
<section class="fact-counter fact-counter-2 sec-padd" style="background-image:url(Template/Humanity/images/background/leg.png);height:450px;">
    <div class="container">
        <div class="row clearfix">
            <div class="section-title center">
                <h1> <span class="thm-color">SER</span>VICES</h1>
            </div>
        </div>
    </div>
</section>
<section class="fact-counter fact-counter-2 sec-padd">
    <div class="container">
        <div class="row clearfix content">
            @*<div class="section-title center">
                <h1> <span class="thm-color">SER</span>VICES</h1>
            </div>*@
             
            <h3>
                1. HuBUR- Humanitarian Bureau
            </h3>
            <br />
            <div>
                <br />
                <p>
                    It serves as an alliance of information and referral focus on holistic approach towards promotion of self-reliance, self worth aimed at assisting each needy individual under the category of Disabled (D), Elderly (E) , Hospice (H) and orphans(O) collectively known as DEHo to achieve self-sufficiency.
                </p>
                <br />
            </div>
            <br />
            <h3>
                2. HuCAV - Humanitarian Care-A-Van
            </h3>
            <br />
            <div>
                <br />
                <p>
                    Provides door-to-door health services for DEHO and to enable them to achieve optimum level of health. Services include health screening of 8 types that includes psychosocial assessment and referral for needed services. Smart partnership is made with other organizations to provide value added services such blood test, dental screening and eye check.
                </p>
                <br />
            </div>
            <br />
            <h3>
                3. HuTAR Humanitarian Therapy & Rehabilitation
            </h3>
            <br />
            <div>
                <br />
                <p>
                    Provides therapy services for in refining and rehabilitating their motor sensory and psychological needs towards regaining optimum independence and self esteem. Services include physiotheraphy, occupational therapy, speech therapy and counselling.
                </p>
                <br />
            </div>
            <br />
            <h3>
                4. Hu HOSPICE & Bereavement
            </h3>
            <br />
            <div>
                <br />
                <p>
                    Hospice care for CANCER Patients no longer Provides hospice home care services in Klang Valley and state of Selangor as a pilot project before providing nationwide services. Services available include pain relief, symptom control and emotional support for the patient and the family.
                </p>
                <br />
            </div>
            <br />
            <h3>
                5. Senior Citizen Humanitarian Clubs
            </h3>
            <br />
            <div>
                <br />
                <p>
                    Currently we are running 2 Senior Citizen Humanitarian Clubs, in Brickfields and Klang that encourage senior citizens towards healthy living and graceful ageing while positively contributing to society with their wisdom and poise.
                </p>
                <br />
            </div>
            <br />
            <h3>
                6. HuCAMP and Secondary School Humanitarian Clubs
            </h3>
            <br />
            <div>
                <br />
                <p>
                    Initiated as a launching pad to introduce caring culture and society into the education extra curriculum activities so that leadership qualities and networking platforms are also available for students. With this, the emergence of Bistari Humanitarian Institute Camp (HuCAMP) is meant for leaders within each club in the secondary school and between schools. HuCAMP is an anchoring platform to assist embodies meaningful and purposeful students participation with responsible empowerment. In HuCAMP, we can raise leadership standard via specialized training to engage them in self worth and Understanding of Being a Responsible & Productive citizen, a Dynamic Leader fused with elements of caring and sharing. It is an event based on concept for application of skills developed which becomes part of their lives.
                </p>
                <br />
            </div>
            <br />
            <h3>
                7. The National Federation of Non-Government Organisations for Disaster Relief Malaysia (NFNDRM)- An ASEAN Humanitarian Project
            </h3>
            <br />
            <div>
                <br />
                <p>
                    MHf organised and formed the NFNDRM so that Malaysia can be more prepared should there be a project was funded via the then Deputy Prime Minister of Malaysia, Y.A.B Dato Seri Abdullah b. Haji Ahmad Badawi while with Ministry of Foreign Affairs. A conference and exhibition was held on 21st 23rd June 2003 for the NGos in the disaster relief as well as the participation of Governmental organisations for public awareness. Of which, 15 NGOs decided to join and form the NFNDRM which is approved by Registrar of society on 19th May 2004. The Patron is Y.A.Bhg Tun Mohammed Hanif b. Omar. Since MHf is the promoter with the then Ministry of National Unity and Social Development, MHf is also a member and the secretariat for the federation that will also help thrust the federation at a local level as well as at an ASEAN level. This is the wish of the federation members.
                </p>
                <br />
            </div>
            <br />
            <h3>
                8. HuGAMES
            </h3>
            <br />
            <div>
                <br />
                <p>
                    HUGAMEs was initiated as the project to help bring together Malaysians to enjoy sporting activities with the community, NGos, corporates and the Govermental bodies. This project when it is implemented intents to work in partnership with an Organisation from the United Kingdom Corporate Games. This will provide corporates with the opportunity to further involve and exercise their roles in Corporate Social Responsibility (CSR) activities.
                </p>
                <br />
            </div>
        </div>
    </div>
</section>