﻿@page
@model MHF.Website.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}
<section class="register-section sec-padd-top">
    <div class="container">
        <div class="row">

            <!--Form Column-->
            <div class="form-column column col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="section-title2">
                    <h3><span class="thm-color">SignUp Now</span></h3>
                </div>

                <!--Login Form-->
                <div class="styled-form register-form">
                    <form method="post">
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-user"></span></span>
                            <input type="text" name="username" value="" placeholder="Your Name *">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                            <input type="email" name="useremil" value="" placeholder="Enter Mail id *">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" name="userpassword" value="" placeholder="Enter Password">
                        </div>
                        <div class="clearfix">
                            <div class="form-group pull-left">
                                <button type="button" class="thm-btn thm-tran-bg">Register here</button>
                            </div>
                            <div class="form-group padd-top-15 pull-right">
                                * Free registered user to submit content.
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

