﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MHF</title>

    <environment include="Development">

        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <link rel="stylesheet" href="~/Template/Humanity/css/style.css" asp-append-version="true">
        <link rel="stylesheet" href="~/Template/Humanity/css/responsive.css" asp-append-version="true">

        <link rel="apple-touch-icon" sizes="180x180" href="~/Template/Humanity/images/favicons/apple-touch-icon.png" asp-append-version="true">
        <link rel="icon" type="image/png" href="~/Template/Humanity/images/favicons/favicon-32x32.png" sizes="32x32" asp-append-version="true">
        <link rel="icon" type="image/png" href="~/Template/Humanity/images/favicons/favicon-16x16.png" sizes="16x16" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/Template/Humanity/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/Template/Humanity/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Template/Humanity/css/responsive.css" asp-append-version="true" />
        <link rel="apple-touch-icon" sizes="180x180" href="~/Template/Humanity/images/favicons/apple-touch-icon.png" asp-append-version="true" />
        <link rel="icon" type="image/png" href="~/Template/Humanity/images/favicons/favicon-32x32.png" sizes="32x32" asp-append-version="true" />
        <link rel="icon" type="image/png" href="~/Template/Humanity/images/favicons/favicon-16x16.png" sizes="16x16" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="theme_menu stricky">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div style="padding-top:13px">
                        <a asp-page="/Index">
                            <img src="~/Template/Humanity/images/logo/MHFIcon.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9 menu-column">
                    <nav class="defaultmainmenu" id="main_menu">
                        <ul class="defaultmainmenu-menu">
                            <li><a asp-page="/Index">HOME</a></li>
                            <li class="active">
                                <a asp-page="/About">ABOUT US</a>
                                <ul class="dropdown">
                                    <li><a asp-page="/AboutUWI">About UWI</a></li>
                                    <li><a asp-page="/History">History</a></li>
                                    <li><a asp-page="/BoardOfManagement">Board of Management</a></li>
                                    <li><a asp-page="/Projects">Projects</a></li>

                                </ul>
                            </li>
                            <li>
                                <a asp-page="/Activities">ACTIVITIES</a>
                            </li>
                            <li>
                                <a asp-page="/Services">SERVICES</a>  
                                <ul class="dropdown">
                                    <li><a asp-page="/Appreciation">APPRECIATION 2004 & 2003</a></li>
                                    <li><a asp-page="/Appreciation2003">APPRECIATION 2003</a></li>
                                    <li><a asp-page="/Appreciation20032002">APPRECIATION 2003 & 2002</a></li>
                                    <li><a asp-page="/Appreciation20022001">APPRECIATION 2002 & 2001</a></li>
                                    <li><a asp-page="/Appreciation20012000">APPRECIATION 2001 & 2000</a></li>
                                    <li><a asp-page="/Appreciation20001999">APPRECIATION 2000 & 1999</a></li>
                                    <li><a asp-page="/Appreciation1999To1997">APPRECIATION 1999, 1998 &amp; 1997</a></li>
                                </ul>
                            </li>
                            <li><a asp-page="/Contact">CONTACT US</a></li>
                            <li>
                                <div class="slide-content-box" style="padding: 25px 5px;">
                                    <div class="button">
                                        <a class="thm-btn" asp-page="/Login">Login</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="slide-content-box" style="padding: 25px 5px;">
                                    <div class="button">
                                        <a class="thm-btn style-3" asp-page="/SignUp">Sign Up</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>

                <div class="right-column">

                    <div class="nav_side_content">
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        @*<div class="search_option">
                                <button class="search tran3s dropdown-toggle color1_bg" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <form action="#" class="dropdown-menu" aria-labelledby="searchDropdown">
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>*@
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="boxed_wrapper">
        @RenderBody()
        <hr />

        <footer class="main-footer">

            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="container">
                    <div class="row">


                        <!--Big Column-->
                        <article class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget contact-column">
                                        <div class="section-title">
                                            <h4>Get In Touch</h4>
                                        </div>
                                        <ul class="contact-info">
                                            <li><i class="icon-arrows"></i><span>Address: </span>Penthouse(Level 27): London, Centrepoint South, <br>The Boulevard, Mid Valley city, Lingkaran Syed Putra,<br /> 59200, Kualalumpur, Malaysia</li>
                                            <li><i class="icon-phone"></i> <span> Phone: </span>+6012 2956 110</li>
                                            <li><i class="icon-back"></i><span>Email: </span>admin@mhfhuman.com</li>
                                            <li><i class="icon-clock2"></i><span>Business Hours: </span><br />Monday - Friday : 9 AM to 6 PM <br />Saturday and Closed</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget post-column">
                                        <div class="section-title">
                                            <h4>Recent Post</h4>
                                        </div>
                                        <div class="post-list">
                                            <div class="post">
                                                <a href="#"><h5>Car show event photos 2015</h5></a>
                                                <div class="post-info">March 14, 2017</div>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>Hope Kids Holiday Party</h5></a>
                                                <div class="post-info">February 21, 2017</div>
                                            </div>
                                            <div class="post">
                                                <a href="#"><h5>humanity Bikini Car wash photos</h5></a>
                                                <div class="post-info">January 15, 2017</div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--Big Column-->
                        <article class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget link-column">
                                        <div class="section-title">
                                            <h4>Usefull Links</h4>
                                        </div>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a asp-page="/Home">HOME</a></li>
                                                <li><a asp-page="/About">ABOUT</a></li>
                                                <li><a asp-page="/Activities">ACTIVITIED</a></li>
                                                <li><a asp-page="/Contact">CONTACT US</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget link-column">
                                        <div class="section-title">
                                            <h4>Socail Media</h4>
                                        </div>
                                        <div class="nav_side_content">
                                            <ul class="social-icon">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

        </footer>
        <!--Footer Bottom-->
        <section class="footer-bottom">
            <div class="container">
                <div class="center copy-text">
                    <p><a href="#">Copyrights © 2018</a> All Rights Reserved. Powered by <a href="#">AROM</a></p>
                </div>
            </div><!-- /.container -->
        </section>

        <!-- Scroll Top  -->
        <button class="scroll-top tran3s color2_bg"><span class="fa fa-angle-up"></span></button>
        <!-- preloader  -->
        <div class="preloader"></div>
        <div id="donate-popup" class="donate-popup">
            <div class="close-donate theme-btn"><span class="fa fa-close"></span></div>
            <div class="popup-inner">

                <div class="container">
                    <div class="donate-form-area">
                        <div class="section-title center">
                            <h2>Donation Information</h2>
                        </div>

                        <h4>How much would you like to donate:</h4>

                        <form action="#" class="donate-form default-form">
                            <ul class="chicklet-list clearfix">
                                <li>
                                    <input type="radio" id="donate-amount-1" name="donate-amount" />
                                    <label for="donate-amount-1" data-amount="1000">$1000</label>
                                </li>
                                <li>
                                    <input type="radio" id="donate-amount-2" name="donate-amount" checked="checked" />
                                    <label for="donate-amount-2" data-amount="2000">$2000</label>
                                </li>
                                <li>
                                    <input type="radio" id="donate-amount-3" name="donate-amount" />
                                    <label for="donate-amount-3" data-amount="3000">$3000</label>
                                </li>
                                <li>
                                    <input type="radio" id="donate-amount-4" name="donate-amount" />
                                    <label for="donate-amount-4" data-amount="4000">$4000</label>
                                </li>
                                <li>
                                    <input type="radio" id="donate-amount-5" name="donate-amount" />
                                    <label for="donate-amount-5" data-amount="5000">$5000</label>
                                </li>
                                <li class="other-amount">

                                    <div class="input-container" data-message="Every dollar you donate helps end hunger.">
                                        <span>Or</span><input type="text" id="other-amount" placeholder="Other Amount" />
                                    </div>
                                </li>
                            </ul>

                            <h3>Donor Information</h3>

                            <div class="form-bg">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <div class="form-group">
                                            <p>Your Name*</p>
                                            <input type="text" name="fname" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <p>Email*</p>
                                            <input type="text" name="fname" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <p>Address*</p>
                                            <input type="text" name="fname" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <p>Phn Num*</p>
                                            <input type="text" name="fname" placeholder="">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <ul class="payment-option">
                                <li>
                                    <h4>Choose your payment method:</h4>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input name="pay-us" type="checkbox">
                                            <span>Paypal</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input name="pay-us" type="checkbox">
                                            <span>Offline Donation</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input name="pay-us" type="checkbox">
                                            <span>Credit Card</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input name="pay-us" type="checkbox">
                                            <span>Debit Card</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>

                            <div class="center"><button class="thm-btn" type="submit">Donate Now</button></div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- jQuery -->
        <script src="~/Template/Humanity/js/jquery.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/menu.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.mixitup.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.fancybox.pack.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/imagezoom.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.polyglot.language.switcher.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/SmoothScroll.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.appear.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/validation.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/wow.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.fitvids.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/nouislider.js" asp-append-version="true"></script>


        <!-- revolution slider js -->
        <script src="~/Template/Humanity/js/rev-slider/jquery.themepunch.tools.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/jquery.themepunch.revolution.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.actions.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.carousel.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.kenburn.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.layeranimation.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.migration.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.navigation.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.parallax.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.slideanims.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.video.min.js" asp-append-version="true"></script>

        <script src="~/Template/Humanity/js/custom.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@

        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- jQuery -->
        <script src="~/Template/Humanity/js/jquery.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/menu.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.mixitup.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.fancybox.pack.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/imagezoom.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.polyglot.language.switcher.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/SmoothScroll.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.appear.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/validation.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/wow.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/jquery.fitvids.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/nouislider.js" asp-append-version="true"></script>


        <!-- revolution slider js -->
        <script src="~/Template/Humanity/js/rev-slider/jquery.themepunch.tools.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/jquery.themepunch.revolution.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.actions.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.carousel.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.kenburn.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.layeranimation.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.migration.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.navigation.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.parallax.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.slideanims.min.js" asp-append-version="true"></script>
        <script src="~/Template/Humanity/js/rev-slider/revolution.extension.video.min.js" asp-append-version="true"></script>

        <script src="~/Template/Humanity/js/custom.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
